<ion-view view-title="World Of Steel">
	<ion-header-bar class="bar-subheader">
            <h4><center>About Electrical Steel</center></h4>
  	</ion-header-bar>
    <ion-content has-header="true" overflow-scrolling="true" padding="false" direction="xy" delegate-handle="mainScroll">
                <br><br>
                <center>
                    <br>
                   <span style="font:12px arial">
ELECTRICAL STEEL : Electrical Steel, also called lamination steel, silicon electrical steel, silicon steel or transformer steel is speciality steel tailored to produce certain magnetic poperties, such as small hysteresis area (small energy dissipation per cycle, or low core loss) and high permeability.<br><br>

PRODUCTION PROCESS<br><br>

1) Hot Rolled Coil-> Pre-Annealing and Pickling -> High Temperature Annealing -> Insulation Coating -> PH-Core & PG-Core<br><br>

2) Hot Rolled Coil-> Pickling -> Cold Rolling -> Annealing -> Tempreture Rollling -> Insulation Coating -> PN- Core & PNS Core<br><br>

<b>1) CRGO:</b> Core laminations are the main part of an electrical transformer, and this attribute to 70% of a transformer cost. These core laminations are required to be cut from special steel called as Cold Rolled Grain Oriented Electrical Steel or popularly known as CRGO. The CRGO is a special quality of steel which have a special grain surface and comes in a thickness of 0.23 mm, 0.27 mm, 0.30 mm, 0.35 mm. (generally called M3, M4, M5 & M6). Lower the thickness of material better is the quality of material.<br><br>

The Quality of CRGO is measured in terms of lower losses of electrical current, which flow in the core. The proper design of core and good quality of core material do a best job in combination. Mainly the core losses are measured in Watts per Kg.<br><br>

Every type of steel has "grains" which consist of "domains". These "domains" are nothing but electrical charges oriented in any random direction. Therefore if a transformer were to be made of Mild Steel used as core material, the core loss would be approx. 16 to 17 w/kg at 1.5T/50Hz and the size of the transformer would be approx. 18 to 20 times the size of a transformer manufactured with GO steels.<br><br>

<b>A table indicating core losses of some popular grades of CRGO is as under:-</b>
</span><br><br>

<table width="463" cellspacing="1" cellpadding="1" border="0" bgcolor="#999999">
        <tbody><tr class="featured" style="text-align: center">
          <td width="143" class="featured" style="text-align: center">Thickness (MM) </td>
          <td width="113" class="featured" style="text-align: center">Grade </td>
          <td width="314" class="featured" style="text-align: center"> Core Losses (w/Kg) 1.7T/50Hz</td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >0.23</div></td>
          <td class="maintext" style="text-align: center"><div >M3</div></td>
          <td class="maintext" style="text-align: center"><div >0.90</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >0.27</div></td>
          <td class="maintext" style="text-align: center"><div >M4</div></td>
          <td class="maintext" style="text-align: center"><div >1.12</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >0.30</div></td>
          <td class="maintext" style="text-align: center"><div >M5</div></td>
          <td class="maintext" style="text-align: center"><div >1.30</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >0.35</div></td>
          <td class="maintext" style="text-align: center"><div >M6</div></td>
          <td class="maintext" style="text-align: center"><div >1.45</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >0.23</div></td>
          <td class="maintext" style="text-align: center"><div >23ZDKH85</div></td>
          <td class="maintext" style="text-align: center"><div >0.85</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >0.27</div></td>
          <td class="maintext" style="text-align: center"><div >27ZDKH90</div></td>
          <td class="maintext" style="text-align: center"><div >0.90</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >0.23</div></td>
          <td class="maintext" style="text-align: center"><div >23M-OH</div></td>
          <td class="maintext" style="text-align: center"><div >1.00</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >0.23</div></td>
          <td class="maintext" style="text-align: center"><div >TCH-0</div></td>
          <td class="maintext" style="text-align: center"><div >0.90</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >0.27</div></td>
          <td class="maintext" style="text-align: center"><div >TCH-1</div></td>
          <td class="maintext" style="text-align: center"><div >1.00</div></td>
        </tr>
      </tbody></table>

<br><br>
<span style="font:12px arial">
<b>A) PG Core:</b> The grain's easy magnetization direction is aligned to the rolling direction. Therefore, this product features excellent magnetic properties in the rolling direction. It is widely used for large-sized power transformers or large or small size transformers.<br><br>

<b>Standard Sizes </b><br><br>
</span>
<table width="876" cellspacing="1" cellpadding="1" border="0" bgcolor="#999999">
        <tbody><tr class="featured" style="text-align: center">
          <td width="137"><div >Classification</div></td>
          <td width="81"><div >Grade</div></td>
          <td width="132"><div >Thickness</div></td>
          <td colspan="2"><div >Width (mm) </div></td>
          <td width="219"><div >Inner Coil Diameter </div></td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center" rowspan="10"><div ><br>
            <br>
            <br>
            <br>
            <br>
            <br>
            PG- Core </div>
          <div ></div>            <div ></div>            <div ></div>            <div ></div>            <div ></div></td>
          <td class="maintext" style="text-align: center"><div ></div></td>
          <td class="featured" style="text-align: center"><div >(mm)</div></td>
          <td width="141" class="featured" style="text-align: center"><div >Available Width Range </div></td>
          <td width="147" class="featured" style="text-align: center"><div >Standard Width </div></td>
          <td class="featured" style="text-align: center"><div >(mm)</div></td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center"><div >27PG110</div></td>
          <td class="maintext" style="text-align: center" rowspan="3"><div ><br>
            0.27</div></td>
          <td class="maintext" style="text-align: center" rowspan="9"><div >
            <p><br>
                <br>
  </p>
            <p>              850-1000</p>
          </div>
          <div ></div>            <div ></div>            <div ></div>            <div ></div>            <div ></div>            <div ></div></td>
          <td class="maintext" style="text-align: center" rowspan="9"><div ><br>
            <br>
            <br>
            <br>
            1000</div>
          <div ></div>            <div ></div>            <div ></div>            <div ></div>            <div ></div>            <div ></div>            <div ></div>            <div ></div></td>
          <td class="maintext" style="text-align: center" rowspan="9"><div ><br>
            <br>
            <br>
            <br>
            508-520 (Standard: 508) <br>
            <br>
            <br>
          </div>
          <div ></div>            <div ></div>            <div ></div>            <div ></div>            <div ></div></td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center"><div >27PG120</div></td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center"><div >27PG130</div></td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center"><div >30PG110</div></td>
          <td class="maintext" style="text-align: center" rowspan="4"><div ></div>
            <div ><br>
              <br>
            0.30</div>
            <div ></div>            <div ></div></td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center"><div >30PG120</div></td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center"><div >30PG130</div></td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center"><div >30PG140</div></td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center"><div >35PG145</div></td>
          <td class="maintext" style="text-align: center" rowspan="2"><div ></div>
            <div >0.35</div></td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center"><div >35PG155</div></td>
        </tr>
      </tbody></table>

<br><br>
<span style="font:12px arial">
<b>2) CRNGO (Non-Oriented Electrical Steel):</b> CRNGO steel usaully has a silicon level of 2 to 3.5% and have similar magnetic properties in all directions in plan of the sheet. Non-oriented Electrical steel are principally used for motors, generators, alternators, ballasts, small Transformers and a variety of other electromagnetic applications.<br><br>

<b>Common Grades:</b></span>
<br><br>

<table width="569" cellspacing="1" cellpadding="1" border="0" bgcolor="#999999">
        <tbody><tr class="featured" style="text-align: center">
          <td width="93">Thickness</td>
          <td width="56">Grade</td>
          <td colspan="2">Specific Cores Loss W/Kg. At. </td>
          <td width="124">Magnetic Induction </td>
          <td width="84">Hardness</td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center">&nbsp;</td>
          <td class="maintext" style="text-align: center">&nbsp;</td>
          <td width="89" class="featured" style="text-align: center">1.0 T 50Hz </td>
          <td width="104" class="featured" style="text-align: center">1.5 T 50 Hz </td>
          <td class="featured" style="text-align: center">At 5000 AT/m(T) </td>
          <td class="featured" style="text-align: center">(VPN)</td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center" rowspan="4"><div ><br>
            <br>
            0.50mm (0.020) </div></td>
          <td class="maintext" style="text-align: center"><div >M-36</div></td>
          <td class="maintext" style="text-align: center"><div >1.84</div></td>
          <td class="maintext" style="text-align: center"><div >3.57</div></td>
          <td class="maintext" style="text-align: center"><div >1.60</div></td>
          <td class="maintext" style="text-align: center"><div >160-180</div></td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center"><div >M-43</div></td>
          <td class="maintext" style="text-align: center"><div >1.70</div></td>
          <td class="maintext" style="text-align: center"><div >4.01</div></td>
          <td class="maintext" style="text-align: center"><div >1.61</div></td>
          <td class="maintext" style="text-align: center"><div >160-180</div></td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center"><div >M-45</div></td>
          <td class="maintext" style="text-align: center"><div >2.30</div></td>
          <td class="maintext" style="text-align: center"><div >5.31</div></td>
          <td class="maintext" style="text-align: center"><div >1.64</div></td>
          <td class="maintext" style="text-align: center"><div >130-150</div></td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center"><div >M-47</div></td>
          <td class="maintext" style="text-align: center"><div >4.00</div></td>
          <td class="maintext" style="text-align: center"><div >6.98</div></td>
          <td class="maintext" style="text-align: center"><div >1.68</div></td>
          <td class="maintext" style="text-align: center"><div >130-150</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center" rowspan="3"><div ><br>
            0.65mm (0.026) </div></td>
          <td class="maintext" style="text-align: center"><div >M-36</div></td>
          <td class="maintext" style="text-align: center"><div >2.16</div></td>
          <td class="maintext" style="text-align: center"><div >4.18</div></td>
          <td class="maintext" style="text-align: center"><div >1.60</div></td>
          <td class="maintext" style="text-align: center"><div >160-180</div></td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center"><div >M-43</div></td>
          <td class="maintext" style="text-align: center"><div >2.52</div></td>
          <td class="maintext" style="text-align: center"><div >4.70</div></td>
          <td class="maintext" style="text-align: center"><div >1.60</div></td>
          <td class="maintext" style="text-align: center"><div >150-170</div></td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center"><div >M-45</div></td>
          <td class="maintext" style="text-align: center"><div >3.03</div></td>
          <td class="maintext" style="text-align: center"><div >6.27</div></td>
          <td class="maintext" style="text-align: center"><div >1.64</div></td>
          <td class="maintext" style="text-align: center"><div >130-150</div></td>
        </tr>
      </tbody></table>

<br><br>

<span style="font:12px arial">A) PN-Core: The non-oriented electrical steel features even magnetic properties in the rolling direction and in other directions. They are widely used for iron core materials of rotating machines ranging from large-size power generators to small-size precision electric motors. They are also desirable for iron core of small-size power transformers.<br><br>

<b>Standard Sizes:</b></span><br><br>

<table width="831" cellspacing="1" cellpadding="1" border="0" bgcolor="#999999">
        <tbody><tr class="featured" style="text-align: center">
          <td width="55">Product</td>
          <td width="318">Grade</td>
          <td width="80">Thickness</td>
          <td colspan="2">Width (mm) </td>
          <td width="138">Inner Coil Diameter </td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center">&nbsp;</td>
          <td class="maintext" style="text-align: center">&nbsp;</td>
          <td class="featured" style="text-align: center">(mm)</td>
          <td width="113" class="featured" style="text-align: center">Available Width</td>
          <td width="108" class="featured" style="text-align: center">Standard Width </td>
          <td class="featured" style="text-align: center">(mm)</td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center" rowspan="7"><br>
          PN-Core (Coil)</td>
          <td class="maintext" style="text-align: center">35PN210, 35PN230, 35PN250, 35PN270</td>
          <td class="maintext" style="text-align: center" rowspan="2"><div >0.35</div></td>
          <td class="maintext" style="text-align: center" rowspan="6"><div ><br>
            <br>
            <br>
          850-1120</div></td>
          <td class="maintext" style="text-align: center" rowspan="6"><div ><br>
              <br>
              <br>
          1000, 1100 <br>
          </div></td>
          <td class="maintext" style="text-align: center" rowspan="8"><div ><br>
              <br>
              <br>
            508-520 <br>
          (Standard: 508)</div></td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center">35PN300, 35PN360, 35PN440 </td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center">509N250, 509N270, 509N290, 509N310, </td>
          <td class="maintext" style="text-align: center" rowspan="2"><div >0.50</div></td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center">509N350, 509N400, 509N470</td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center">65PN290, 65PN310, 65PN350, 65PN400, </td>
          <td class="maintext" style="text-align: center" rowspan="2"><div >0.65</div></td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center">65PN470</td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center">50PN600, 50PN700, 50PN800, 50PN1000, 50PN1300 </td>
          <td class="maintext" style="text-align: center"><div >0.50</div></td>
          <td class="maintext" style="text-align: center" rowspan="2"><div >850-1250</div></td>
          <td class="maintext" style="text-align: center" rowspan="2">1000, 1100, &amp; 1200 </td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center">&nbsp;</td>
          <td class="maintext" style="text-align: center">65PN600, 65PN700, 65PN800, 65PN1000, 65PN1300, </td>
          <td class="maintext" style="text-align: center"><div >0.65</div></td>
        </tr>
      </tbody></table>

<br><br>

<span style="font:12px arial">B) PNM Core: It is utilized as steel material for magnetic switches and improved in wear resistance and residual magnetism.<br><br>
<b>Standard Size:</b></span><br><br>

<table width="574" cellspacing="1" cellpadding="1" border="0" bgcolor="#999999">
        <tbody><tr class="featured" style="text-align: center">
          <td width="110">Classification</td>
          <td width="82">Standard</td>
          <td width="116">Thickness (mm) </td>
          <td colspan="2">Width</td>
        </tr>
        <tr>
          <td class="maintext" style="text-align: center">&nbsp;</td>
          <td class="maintext" style="text-align: center">&nbsp;</td>
          <td class="maintext" style="text-align: center">&nbsp;</td>
          <td width="127" class="featured" style="text-align: center">Available Size</td>
          <td width="123" class="featured" style="text-align: center">Standard Size</td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >PNM-Core</div></td>
          <td class="maintext" style="text-align: center"><div >65PNM540</div></td>
          <td class="maintext" style="text-align: center"><div >0.65</div></td>
          <td class="maintext" style="text-align: center" rowspan="2"><div ></div>
          <div >850-1100</div></td>
          <td class="maintext" style="text-align: center" rowspan="2"><div >1000, 1050, 1100 </div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >(Coil)</div></td>
          <td class="maintext" style="text-align: center"><div >70PNM500</div></td>
          <td class="maintext" style="text-align: center"><div >0.70</div></td>
        </tr>
      </tbody></table>

<br><br>
<ion-item href="#/app/learning/electrical_steel_international_standards">Major International Standards for Electrical Steel<br><br></ion-item>
                    <br></center>
    </ion-content>
</ion-view>