<ion-view view-title="World Of Steel">
	<ion-header-bar class="bar-subheader">
            <h4><center>Anti-Corrosion Materials for Castings, Nuts and Bolts</center></h4>
  	</ion-header-bar>
    <ion-content has-header="true" overflow-scrolling="true" padding="false" direction="xy" delegate-handle="mainScroll">
                <br><br>
               <span style="font:12px arial;color:#333;">
Corrosion is a chemical or electrochemical reaction between metals and their environment. There are two ways to fight corrosion.<br><br>

- By choosing the right type of material to resist the particular environment<br><br>

- By coating the material with a protective material.<br><br>

Here are some of the materials that exhibit a resistance to corrosion.<br><br>

<b>18.8 Stainless Steel</b> - includes several alloys:
302: ASTM A276 Type 302; A167 Gr.2
XM7: 302HQ for cold heading screws
303: ASTM A582 Type 303; A320 Gr. B8F; A194 Gr. 8F
304: ASTM A193A Gr. B8; A320 Gr. B8; A194 Gr. 8<br><br>

Contain approximately 18% chromium, 8% nickel, are non-magnetic and hardenable by cold working; a tensile strength range of 80-200,000 psi; good corrosion resistance. Used in food, drug and chemical equipment; bearing plates; heat exchanger tubes; pumps; valves.<br><br>

<b>316 Stainless Steel:</b> ASTM A193 Gr.B8M; A276 Type316; A320 Gr. B8M. Contains 18% chromium, 8% nickel and 2-3% molybdenum. Better corrosion resistance than other grades, particularly in chlorides; 80-170,000 psi tensile strength; non-magnetic and hardenable by cold working. Widely used in textile, paper mills, chemical plants, and marine applications<br><br>

<b>304L and 316L:</b> Low carbon grades. Minimize carbide precipitation during welding and exposure to high temperatures.<br><br>

<b>ALLOY 20:</b> Approximately 34% nickel, 20% chromium, balance iron. This is a high nickel stainless steel containing about 4 times as much nickel as the 18.8 austenic stainless steels. The high nickel content makes it the most corrosion resistant of the stainless alloys, especially in resisting stress corrosion cracking and hot sulfuric acid.<br><br>

<b>17-4PH:</b> 15-17% chromium, 3-5% nickel, 3-5% copper<br><br>

<b>410 Stainless Steel:</b> ASTM A276 Type 410; A193 Gr. B6. Magnetic and less corrosion resistant than other stainless alloys but hardenable.<br><br>

<b>Inconel:</b> 70% nickel, 12% chromium, 2% iron. Good strength and corrosion resistance at high temperatures. Resists both oxidizing and reducing conditions. Terrific atmospheric corrosion resistance, including marine atmospheres. Used in aerospace, food processing industry and refineries.<br><br>

<b>Monel 400:</b> ASTM B164 Class A. Approximately 65% nickel, 32% copper. Nearly non-magnetic, 82,000psi min. tensile strength; strengthened by cold working. Heat (to 800 degrees F) and corrosion resistance. Used in chemical, electrical and saltwater marine applications as well as offshore engineering, salt production, and hydrocarbon processing. Generally excellent in reducing atmospheres, but poor under oxidizing conditions.<br><br>

<b>Monel 405:</b> ASTM B164 Class B. Properties similar to Monle 400, but easier to machine due to higher sulfur content. Generally used for studs, nuts, locknuts and machined parts.<br><br>

<b>Monel 500:</b> ("K" Monel). 63% minimum nickel, 30% copper, 2-3% aluminum. The addition of the aluminium allows the material to be age hardened which increases its strength. Its other characteristics are similar to 400. Used in Pumps and marine applications.<br><br>

<b>Hastelloy C-276:</b> 60% nickel, 16% molybdenum, 15% chromium. Resists corrosion in acidic environments. High strength at extremely high temperatures. Typical applications include equipment components in chemical and petrochemical organic chloride processes, pulp and paper digesters and bleach areas, flue gas desulfurization (FGD) scrubbers, pharmaceutical and food processing equipment.<br><br>

<b>Hastelloy C 22**:</b> 60% Nickel, 16% molybdenum, 15% chromium. Exceptional resistance to oxidizing solutions, especially those containing chlorides. Resists hydrochloric acid up to 120°F acid chlorides and phosphates. Has high strength at extremely high temperatures. Plus outstanding resistance to pitting, crevice corrosion and stress-corrossion cracking.<br><br>

<b>Brass:</b> 65% copper, 35% zinc. Good strength, corrosion resistance and workability.<br><br>

Silicon Bronze 651 & 655: ASTM B98 Alloy 651 or Alloy 655; B99 Alloy 651 or Alloy 655. 95-97% copper, 2-3% silicon, 1% manganese. More corrosion resistant and stronger than brass. Used in electrical circuitry in switchgears, etc., as well as valves and process control equipment.<br><br>

<b>Aluminum Bronze 614:</b> ASTM B150 Alloy 614. 89% copper, 7% aluminum, 2% iron.<br><br>

<b>Titanium:</b> Very high strength-to-weight ratio, good corrosion resistance and high temperature durability. Excellent aircraft and aerospace material.<br><br>

<b>Aluminum 2024:</b> ASTM B221 Alloy 2024-T4; B211 Alloy 2024-T4. 93% aluminum, 4% copper. Good combination of strength, corrosion resistance, light weight and economy. Optimum properties when heat-treated. Widely used in aircraft.<br><br>

<b>Aluminum 6061:</b> Standard alloy for Â¼" and larger nuts. Specially made bolts can be made from this alloy.<br><br>	
</span>
    </ion-content>
</ion-view>