<ion-view view-title="World Of Steel">
	<ion-header-bar class="bar-subheader">
            <h4><center>Castings and Forgings Grades</center></h4>
  	</ion-header-bar>
    <ion-content has-header="true" overflow-scrolling="true" padding="false" direction="xy" delegate-handle="mainScroll">
        <br>
                <center>
                    <br>
                  <table cellspacing="1" cellpadding="1" border="0" style="text-align: left; background-color: rgb(153, 153, 153); width: 1201px;">

        <tbody>

          <tr>

            <td class="featured" style="text-align: center">Standard No.</td>

            <td class="featured" style="text-align: center">Definition</td>

            <td class="featured" style="text-align: center">Standard No.</td>

            <td class="featured" style="text-align: center">Definition</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">JIS G5101</td>

            <td rowspan="1" colspan="1" class="maintext" style="text-align: center">Carbon steel castings</td>

            <td class="maintext" style="text-align: center">ASTM
A27/A27 M-91</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Spec. for
mild-to medium-strenght carbon-steel casting for general application</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center">BS
3100-91</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Steel castings
for general engineering purposes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center">DIN
1681-85</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Cast steel
(steel castings)</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center">ISO
3755-90</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Cast steels for
general engineering purposes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center"> NF
A32-051</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Foundry
products &ndash; Castings &ndash; general purpose cast steels</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">JIS G5102</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Steel castings
for welded structure</td>

            <td class="maintext" style="text-align: center">ASTM
A216/<br>

A216 M-89</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Spec. for
carbon-steel castings suitable for fusion welding for high-temperature
service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">JIS G5111</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">High tensile
strength carbon steel castings and low alloy steel castings for
structural purposes</td>

            <td class="maintext" style="text-align: center">ASTM
A148/<br>

A148 M-90</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Spec. for
high-strenght steel casting for structural purposes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center"> BS
3100-91</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Steel castings
for general engineering purposes (Low alloy steel castings for use at
elevated temperatures)(1-1/2 per cent manganese steel castings)</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center">NF
A32-054</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Foundry
products &ndash; Unalloyed and low alloy structural cast steels
suitable for heat treatment</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS
G5121</td>

            <td class="maintext" style="text-align: center">Stainless
steel castings</td>

            <td class="maintext" style="text-align: center">ASTM
A743/<br>

A743 M-92a</td>

            <td class="maintext" style="text-align: center">Spec.
for castings, Fe-Cr, Fe-Cr-Ni, and nickel-base corrosion-resistant for
general application</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A744/<br>

A744 M-91a</td>

            <td class="maintext" style="text-align: center">Spec.
for castings, Fe-Cr-Ni and nickel-base corrosion-resistant for severe
service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center">ASTM
A351/<br>

A351 M-91b</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Spec. for
austenitic steel castings for high- temperature service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
3100-91</td>

            <td class="maintext" style="text-align: center">Steel
castings for general engineering purposes(13 per cent chromium steel
castings for resistance to corrosion)(Austenitic chromium-nickel steel
castings for resistance to corrosion)</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">(Austenitic
chromium-nickel-molybdenum steel castings for resistance to corrosion)</td>

          </tr>


          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17445-84</td>

            <td class="maintext" style="text-align: center">Stainless
steel castings; quality specifications</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">NF
A 32-056</td>

            <td class="maintext" style="text-align: center">Foundry
products - Austenitic and austenoferric stainless steels</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A 747/<br>

A747 M-89</td>

            <td class="maintext" style="text-align: center">Spec.
for stainless precipitation hardening steel castings</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">JIS G5122</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Heat resisting
steel castings</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">ASTM A297/<br>

A297 M-89</td>

            <td class="maintext" style="text-align: center">Spec.
for steel castings, Fe-Cr and Fe-Cr-Ni, heat resistant, for general
application</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"> ASTM A351/<br>

A351M-91b</td>

            <td class="maintext" style="text-align: center">Spec.
for steel castings, austenitic, for high-temperature service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">ASTM A447/<br>

A447M-87</td>

            <td class="maintext" style="text-align: center">Spec.
for chromium-nickel-iron alloy castings (25-12 class) for
high-temperature service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> BS
3100-91</td>

            <td class="maintext" style="text-align: center">Steel
castings for general engineering purposes(Alloy steel castings for use
at high temperatures)</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">NF A32-057</td>

            <td class="maintext" style="text-align: center">Foundry
products - Heat resistant cast steel grades and related alloys</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS
G5131</td>

            <td class="maintext" style="text-align: center">High
manganese steel castings</td>

            <td class="maintext" style="text-align: center">ASTM
A128/<br>

A128 M-90</td>

            <td class="maintext" style="text-align: center">Spec.
for austenitic manganese-steel castings</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center">BS
3100-91</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Steel castings
for general engineering purposes (Austenitic manganese steel casting)</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS
G5151</td>

            <td class="maintext" style="text-align: center">Steel
castings for high temperature and high pressure service</td>

            <td class="maintext" style="text-align: center">ASTM
A216/<br>

A216M-89</td>

            <td class="maintext" style="text-align: center">Spec.
for steel castings, carbon suitable for fusion welding for
high-temperature service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A389/<br>

A389M-89</td>

            <td class="maintext" style="text-align: center">Spec.
for steel castings, alloy, specially heat-treated for
pressure-containing parts suitable for high temperature service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A356/<br>

A356 M-92</td>

            <td class="maintext" style="text-align: center">Spec.
for heavy-walled carbon and low alloy steel castings for steam turbines</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A217/<br>

A217 M-91</td>

            <td class="maintext" style="text-align: center">Spec.
for alloy steel castings for pressure-containing parts suitable for
high-temperature service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> BS
3100-91</td>

            <td class="maintext" style="text-align: center">Steel
castings for general engineering purposes (Chromium-molybdenum steel
castings)</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17245-87</td>

            <td class="maintext" style="text-align: center">Ferritic
steel castings creep resistant at elevated temperatures</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">NF
A 32-055</td>

            <td class="maintext" style="text-align: center">Castings
- Weldable cast steels for boilers and pressure vessels</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS
G5152</td>

            <td class="maintext" style="text-align: center">Steel
castings for low temperature and high pressure service</td>

            <td class="maintext" style="text-align: center">ASTM
A 352/<br>

A352 M-89</td>

            <td class="maintext" style="text-align: center">Spec.
for ferritic and martensitic steel castings for pressure-containing
parts suitable for low-temperature service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A757/<br>

A757M-90</td>

            <td class="maintext" style="text-align: center">Spec.
for steel castings, ferritic and martensitic for pressure-containing
and other applications for low-temperature service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
3100-91</td>

            <td class="maintext" style="text-align: center">Steel
castings for general engineering purposes (Ferritic steel castings for
use at low temperatures)</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">NF
A 32-053</td>

            <td class="maintext" style="text-align: center">Foundry
products - cast steel grades for use at low temperatures</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS
G5201</td>

            <td class="maintext" style="text-align: center">Centrifugally
cast steel pipes for welded structure</td>

            <td class="maintext" style="text-align: center">(ASTM
A362-63)</td>

            <td class="maintext" style="text-align: center">Spec.
for iron-chrnmium and iron-chromium-nickel alloy tubular centrifugally
castings for general applications</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> BS
3100-91</td>

            <td class="maintext" style="text-align: center">Steel
castings for general engineering purposes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS
G5202</td>

            <td class="maintext" style="text-align: center">Centrifugally
cast steel pipes for high temperature and high pressure service</td>

            <td class="maintext" style="text-align: center">ASTM
A 426-92</td>

            <td class="maintext" style="text-align: center">Spec.
for centrifugally cast ferritic alloy steel pipe for high-temperature
service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS
G5501</td>

            <td class="maintext" style="text-align: center">Gray
iron castings</td>

            <td class="maintext" style="text-align: center">ASTM
A48-92</td>

            <td class="maintext" style="text-align: center">Spec.
for gray iron castings</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
1452-90</td>

            <td class="maintext" style="text-align: center">Grey
iron castings</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">(DIN
1691-85)</td>

            <td class="maintext" style="text-align: center">Cast
iron with lameller graphite (gray cast iron)</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> ISO
185-88</td>

            <td class="maintext" style="text-align: center">Grey
cast iron-classification</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">NF
A 32-101</td>

            <td class="maintext" style="text-align: center">Foundry
products - Lamellar graphite cast iron castings</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS
G 5502</td>

            <td class="maintext" style="text-align: center">Spheroidal
graphite iron castings</td>

            <td class="maintext" style="text-align: center">ASTM
A536-84</td>

            <td class="maintext" style="text-align: center">Spec.
for ductile iron castings</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> BS
2789-85</td>

            <td class="maintext" style="text-align: center">Iron
castings with spheroidal or nodular graphite</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">(DIN
1693-77)</td>

            <td class="maintext" style="text-align: center">Cast
iron with spheroidal graphite</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">GOCT
7293-85</td>

            <td class="maintext" style="text-align: center">High
strength cast iron mouldings with spherical graphite</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
1083-87</td>

            <td class="maintext" style="text-align: center">Spheroidal
graphite or nodular graphite cast iron</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">NF
A 32-201</td>

            <td class="maintext" style="text-align: center">Foundry
products - Spheroidal graphite cast iron castings</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS
G5510</td>

            <td class="maintext" style="text-align: center">Austenitic
iron castings</td>

            <td class="maintext" style="text-align: center">ASTM
A436-84</td>

            <td class="maintext" style="text-align: center">Spec.
for austenitic grey iron castings</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A439-83</td>

            <td class="maintext" style="text-align: center">Spec.
for austenitic ductile iron castings</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A571-84</td>

            <td class="maintext" style="text-align: center">Spec.
for austenitic ductile iron castings for pressure-containing parts
suitable for low-temperature service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
2892-73</td>

            <td class="maintext" style="text-align: center">Austenitic
cast iron</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
3468-86</td>

            <td class="maintext" style="text-align: center">Austenitic
cast iron</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
1694-81</td>

            <td class="maintext" style="text-align: center">Austenitic
cast iron</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"><br>

            </td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">NF
A32-301</td>

            <td class="maintext" style="text-align: center">Austenitic
cast iron</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS
G5526</td>

            <td class="maintext" style="text-align: center">Ductile
iron pipes</td>

            <td class="maintext" style="text-align: center">ISO
2531-91</td>

            <td class="maintext" style="text-align: center">Ductile
iron pipes, fittings and accessories for pressure pipelines</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS
G5527</td>

            <td class="maintext" style="text-align: center">Ductile
iron fittings</td>

            <td class="maintext" style="text-align: center">ISO
2531-91</td>

            <td class="maintext" style="text-align: center">Ductile
iron pipes, fittings and accessories for pressure pipelines</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS G5702</td>

            <td class="maintext" style="text-align: center">Blackheart
malleable iron castings</td>

            <td class="maintext" style="text-align: center">ASTM
A47 M-90</td>

            <td class="maintext" style="text-align: center">Spec.
for malleable iron castings</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A197 M-87</td>

            <td class="maintext" style="text-align: center">Spec.
for cupola malleable iron</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
6681-86</td>

            <td class="maintext" style="text-align: center">Spec.
for malleable cast iron, blackheart</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> (DIN
1692-82)</td>

            <td class="maintext" style="text-align: center">Malleable
cast iron; definition, properties, acceptance</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS G5703</td>

            <td class="maintext" style="text-align: center">Whiteheart
malleable iron castings</td>

            <td class="maintext" style="text-align: center">BS
6681-96</td>

            <td class="maintext" style="text-align: center">Spec.
for malleable cast iron, whiteheart</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">(DIN
1692-68)</td>

            <td class="maintext" style="text-align: center">Malleable
cast iron; definition, properties, acceptance</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">NF
A 32-701</td>

            <td class="maintext" style="text-align: center">Foundry
products - Whiteheart malleable iron castings</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS G5704</td>

            <td class="maintext" style="text-align: center">Pearlitic
malleable iron castings</td>

            <td class="maintext" style="text-align: center">ASTM
A 220M-88</td>

            <td class="maintext" style="text-align: center">Spec.
for pearlitic malleable iron castings</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> BS
6681-86</td>

            <td class="maintext" style="text-align: center">Spec.
for malleable cast iron, pearlitic</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS G3201</td>

            <td class="maintext" style="text-align: center">Carbon
steel forgings</td>

            <td class="maintext" style="text-align: center">ASTM
A668-91</td>

            <td class="maintext" style="text-align: center">Spec.
for carbon and alloy steel forgings for general industrial use</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> DIN
17103-89&nbsp;</td>

            <td class="maintext" style="text-align: center">Weldable
fine grain structural steel forgings</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> BS
29-76</td>

            <td class="maintext" style="text-align: center">Spec.
for carbon steel forgings above 150mm ruling section</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> NF
A 36-612</td>

            <td class="maintext" style="text-align: center">Structural
forgings, non-alloyed steels</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS G3202</td>

            <td class="maintext" style="text-align: center">Carbon
steel forgings for pressure vessels</td>

            <td class="maintext" style="text-align: center">ASTM
A105/<br>

A105 M-92</td>

            <td class="maintext" style="text-align: center">Spec.
for forgings, carbon steel, for piping components</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A181/<br>

A181 M-90</td>

            <td class="maintext" style="text-align: center">Spec.
for forgings, carbon steel for general purpose piping</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A266/<br>

A266 M-92</td>

            <td class="maintext" style="text-align: center">Spec.
for forgings, carbon steel, for pressure vessel components</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> ASTM
A508/<br>

A508 M-92</td>

            <td class="maintext" style="text-align: center">Spec.
for Quenched and tempered vacuum-treated carbon and alloy steel
forgings for pressure vessels</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A541/<br>

A541 M-92</td>

            <td class="maintext" style="text-align: center">Spec.
for steel forgings, carbon and alloy, quenched and tempered, for
pressure vessel components</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
1503-89</td>

            <td class="maintext" style="text-align: center">Spec.
for steel forgings (including semi-finished forged products) for
pressure purposes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> NF
A 36-601-80</td>

            <td class="maintext" style="text-align: center">Welded
steel forgings for boilers and pressure vessels, carbon and carbon
manganese steels</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS G3203</td>

            <td class="maintext" style="text-align: center">Alloy
steel forgings for pressure vessels for pressure vessels for
high-temperature service</td>

            <td class="maintext" style="text-align: center">ASTM
A182/<br>

A182M-92 a</td>

            <td class="maintext" style="text-align: center">Spec.
for forged or rolled alloy-steel, pipe flanges, forged fittings, and
values and parts for high-temperature service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A336/<br>

A336M-92 a</td>

            <td class="maintext" style="text-align: center">Spec.
for steel forgings, alloy, for pressure and high-temperature parts</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> BS
1503-89</td>

            <td class="maintext" style="text-align: center">Spec.
for steel forgings (including semi-finished forged products) for
pressure purposes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
2604/1-75</td>

            <td class="maintext" style="text-align: center">Steel
products for pressure purposes - Quality requirements - Part I :
Forgings</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">NF
A36-602-88</td>

            <td class="maintext" style="text-align: center">Welded
steel forgings for boilers and pressure vessels, Mo-Mn-Mo and Cr-Mo
alloy steel</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS G3204</td>

            <td class="maintext" style="text-align: center">Quenched
and tempered alloy steel forgings for pressure vessels</td>

            <td class="maintext" style="text-align: center">ASTM
A508/<br>

A508 M-92</td>

            <td class="maintext" style="text-align: center">Spec.
for quenched and tempered vacuum-treated carbon and alloy steel
forgings for pressure vessels</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A541/<br>

A541 M-91</td>

            <td class="maintext" style="text-align: center">Spec.
for steel forgings, carbon and alloy, quenched and tempered, for
pressure vessel components</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS G3205</td>

            <td class="maintext" style="text-align: center">Carbon
and alloy steel forgings for pressure vessels for low-temperature
service</td>

            <td class="maintext" style="text-align: center">ASTM
A350/<br>

A350 M-92a</td>

            <td class="maintext" style="text-align: center">Spec.
for forgings, carbon and low-alloy steel, requiring notch toughness
testing for piping components</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> BS
1503-89</td>

            <td class="maintext" style="text-align: center">Spec.
for forgings (incl. semi-finished forged products) for pressure purposes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> NF
A 36-601-80</td>

            <td class="maintext" style="text-align: center">Welded
steel forgings for boilers and pressure vessels, carbon and carbon
manganese steels</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS G3206</td>

            <td class="maintext" style="text-align: center">High
strength chromium molybdenum alloy steel forgings for pressure vessels
under high-temperature service</td>

            <td class="maintext" style="text-align: center">ASTM
A182/<br>

A182 M-92 a</td>

            <td class="maintext" style="text-align: center">Forged
or rolled alloy-steel pipe flanges, forged fittings and valves and
parts for high temperature</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A336/<br>

A336 M-92a</td>

            <td class="maintext" style="text-align: center">Steel
forgings, alloy, for pressure and high temperature service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A508/<br>

A508 M-92</td>

            <td class="maintext" style="text-align: center">Quenched
and tempered vacuum-treated carbon and alloy steel forgings for
pressure vessels</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A541/<br>

A541 M-91</td>

            <td class="maintext" style="text-align: center">Steel
forgings carbon and alloy, quenched and tempered for pressure vessel
components</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS G3214</td>

            <td class="maintext" style="text-align: center">Forged
stainless steel flanges, fittings, valves and parts of pressure vessel
for high-temperature service</td>

            <td class="maintext" style="text-align: center">ASTM
A182/<br>

A182 M-92</td>

            <td class="maintext" style="text-align: center">Spec.
for forged or rolled alloy-steel pipe flanges, forged fittings, and
valves and parts for high-temperature service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> ASTM
A336/<br>

A336 M-92 a</td>

            <td class="maintext" style="text-align: center">Spec.
for steel forgings alloy, for pressure and high-temperature service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A705/<br>

A705M-92</td>

            <td class="maintext" style="text-align: center">Spec.
for age-hardening stainless and heat-resisting steel forgings</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
1503-89</td>

            <td class="maintext" style="text-align: center">Spec.
for steel forgings (including semi-finished forged products) for
pressure purposes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> ISO
2604/1-75</td>

            <td class="maintext" style="text-align: center">Steel
products for pressure purpose, quality requirements. Part 1: forgings</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">NF
A 36-607-84</td>

            <td class="maintext" style="text-align: center">Austenitic
stainless steel parts obtained by flat die forging or drop forging for
boiler and pressure vessels</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A290-85</td>

            <td class="maintext" style="text-align: center">Spec.
for carbon and alloy steel forgings for rings for reduction gears</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A291-92</td>

            <td class="maintext" style="text-align: center">Spec.
for carbon and alloy steel forgings for pinions and gears for reduction
gears</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
4670-71</td>

            <td class="maintext" style="text-align: center">Spec.
for alloy steel forgings</td>

          </tr>

        </tbody>
      </table>
                   <br> </center>
    </ion-content>
</ion-view>