<ion-view view-title="World Of Steel">
	<ion-header-bar class="bar-subheader">
            <h4><center>Chinese Steel Grades</center></h4>
  	</ion-header-bar>
    <ion-content has-header="true" overflow-scrolling="true" padding="false" direction="xy" delegate-handle="mainScroll">
                <br><br>
                <center>
                    <br>
                   <span style="font:14px arial;color:#333;"><b>Cold Rolled Steel Strip</b></span><br>

<span style="font:12px arial;color:#333;">Quality: Q195, Q215, Q235<br><br>

<b>Chemical Composition & Mechanical Properties refer to the table:</b><br></span>
<table width="557" cellspacing="1" cellpadding="1" border="0" style="background-color: rgb(153, 153, 153)">
        <tbody><tr class="featured" style="text-align: center">
          <td width="61"></td>
          <td colspan="5">
            <div>Chemical Composition % </div></td>
          <td colspan="3">
          <div>Mechanical Properties </div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div>Steel Brand</div></td>
          <td width="55" class="maintext" style="text-align: center"><div >C</div></td>
          <td width="44" class="maintext" style="text-align: center"><div >Si</div></td>
          <td width="55" class="maintext" style="text-align: center"><div >Mn</div></td>
          <td width="43" class="maintext" style="text-align: center"><div >P</div></td>
          <td width="43" class="maintext" style="text-align: center"><div >S</div></td>
          <td width="63" class="maintext" style="text-align: center"><div >Elongation %</div></td>
          <td width="58" class="maintext" style="text-align: center"><div >Yield Strength Mpa</div></td>
          <td width="70" class="maintext" style="text-align: center"><div >Tensile Strength Mpa</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >Q195</div></td>
          <td class="maintext" style="text-align: center"><div >0.06-0.12</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.30</div></td>
          <td class="maintext" style="text-align: center"><div >0.25-0.50</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.045</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.050</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=33</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=195</div></td>
          <td class="maintext" style="text-align: center"><div >315-430</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >Q215</div></td>
          <td class="maintext" style="text-align: center"><div >0.09-0.15</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.30</div></td>
          <td class="maintext" style="text-align: center"><div >0.25-0.55</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.045</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.050</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=31</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=215</div></td>
          <td class="maintext" style="text-align: center"><div >335-450</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >Q235</div></td>
          <td class="maintext" style="text-align: center"><div >0.14-0.22</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.30</div></td>
          <td class="maintext" style="text-align: center"><div >0.30-0.65</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.045</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.050</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=26</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=235</div></td>
          <td class="maintext" style="text-align: center"><div >375-500</div></td>
        </tr>
      </tbody></table>

<br><br>

<span style="font:14px arial;color:#333;"><b>Hot Rolled Steel Strip</b></span><br>
<span style="font:12px arial;color:#333;">Quality: Q195, Q215, Q235, SPHC<br><br>

<b>Chemical Composition & Mechanical Properties refer to the table:</b><br>
</span>
<table width="557" cellspacing="1" cellpadding="1" border="0" style="background-color: rgb(153, 153, 153)">
        <tbody><tr class="featured" style="text-align: center">
          <td width="45" class="featured" style="text-align: center"></td>
          <td colspan="5">
            <div>Chemical Composition % </div> </td>
          <td colspan="3" class="featured" style="text-align: center">
          <div>Mechanical Properties </div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >Steel Brand</div></td>
          <td width="100" class="maintext" style="text-align: center"><div >C</div></td>
          <td width="43" class="maintext" style="text-align: center"><div >SiS</div></td>
          <td width="65" class="maintext" style="text-align: center"><div >Mn</div></td>
          <td width="46" class="maintext" style="text-align: center"><div >P</div></td>
          <td width="43" class="maintext" style="text-align: center"><div >S</div></td>
          <td width="66" class="maintext" style="text-align: center"><div >Elongation %</div></td>
          <td width="53" class="maintext" style="text-align: center"><div >Yield Strength Mpa</div></td>
          <td width="63" class="maintext" style="text-align: center"><div >Tensile Strength Mpa</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >Q195</div></td>
          <td class="maintext" style="text-align: center"><div >0.06-0.12</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.30</div></td>
          <td class="maintext" style="text-align: center"><div >0.25-0.50</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.045</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.050</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=33</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=195</div></td>
          <td class="maintext" style="text-align: center"><div >315-430</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >Q215</div></td>
          <td class="maintext" style="text-align: center"><div >0.09-0.15</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.30</div></td>
          <td class="maintext" style="text-align: center"><div >0.25-0.55</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.045</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.050</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=31</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=215</div></td>
          <td class="maintext" style="text-align: center"><div >335-450</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >Q235</div></td>
          <td class="maintext" style="text-align: center"><div >0.14-0.22</div></td>
          <td class="maintext" style="text-align: center">&lt;=0.30</td>
          <td class="maintext" style="text-align: center">0.30-0.65</td>
          <td class="maintext" style="text-align: center">&lt;=0.045</td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.050</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=26</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=235</div></td>
          <td class="maintext" style="text-align: center"><div >375-500</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >SPHC</div></td>
          <td class="maintext" style="text-align: center"><div >0.01-0.06</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.05</div></td>
          <td class="maintext" style="text-align: center"><div >0.19-0.50</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.03</div></td>
          <td class="maintext" style="text-align: center"><div >0.001-0.007</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=46</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=305</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=370</div></td>
        </tr>
      </tbody></table>

<br><br>

<span style="font:14px arial;color:#333;"><b>Galvanized Steel Strip</b></span><br>
<span style="font:12px arial;color:#333;">Quality: Q195<br><br>

<b>Chemical Composition & Mechanical Properties refer to the table:</b><br>
</span>
<table width="557" cellspacing="1" cellpadding="1" border="0" style="background-color: rgb(153, 153, 153)">
        <tbody><tr class="featured" style="text-align: center">
          <td width="45" class="featured" style="text-align: center"></td>
          <td colspan="5" class="featured" style="text-align: center">
            <div  >Chemical Composition % </div>                                    </td>
          <td colspan="3" class="featured" style="text-align: center">
          <div  >Mechanical Properties </div>            </td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >Steel Brand</div></td>
          <td width="100" class="maintext" style="text-align: center"><div >C</div></td>
          <td width="43" class="maintext" style="text-align: center"><div >Si</div></td>
          <td width="65" class="maintext" style="text-align: center"><div >Mn</div></td>
          <td width="46" class="maintext" style="text-align: center"><div >P</div></td>
          <td width="43" class="maintext" style="text-align: center"><div >S</div></td>
          <td width="66" class="maintext" style="text-align: center"><div >Elongation %</div></td>
          <td width="53" class="maintext" style="text-align: center"><div >Yield Strength Mpa</div></td>
          <td width="63" class="maintext" style="text-align: center"><div >Tensile Strength Mpa</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >Q195</div></td>
          <td class="maintext" style="text-align: center"><div >0.06-0.12</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.30</div></td>
          <td class="maintext" style="text-align: center"><div >0.25-0.50</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.045</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.050</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=33</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=195</div></td>
          <td class="maintext" style="text-align: center"><div >315-430</div></td>
        </tr>
      </tbody></table>

<br><br>
<span style="font:14px arial;color:#333;"><b>Galvaloom Coil</b></span><br>
<span style="font:12px arial;color:#333;">Quality: Q195, SPCC, 0.8AL, SPCD, SPCE<br><br>

<b>Chemical Composition & Mechanical Properties refer to the table:</b><br>
</span>
<table width="557" cellspacing="1" cellpadding="1" border="0" style="background-color: rgb(153, 153, 153)">
        <tbody><tr class="featured" style="text-align: center">
          <td width="125" rowspan="2" class="featured" style="text-align: center">
            <div>Steel Brand </div></td>
          <td colspan="5" class="featured" style="text-align: center">
            <div>Chemical Composition % </div>                                    </td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td width="85" class="maintext" style="text-align: center"><div >C</div></td>
          <td width="81" class="maintext" style="text-align: center"><div >Si</div></td>
          <td width="90" class="maintext" style="text-align: center"><div >Mn</div></td>
          <td width="86" class="maintext" style="text-align: center"><div >P</div></td>
          <td width="71" class="maintext" style="text-align: center"><div >S</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >Q195, SPCC, 0.8AL, SPCD, SPCE </div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.10%</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.03%</div></td>
          <td class="maintext" style="text-align: center"><div >0.2-0.40%</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.03%</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.03%</div></td>
        </tr>
      </tbody></table>

<br><br>
<span style="font:14px arial;color:#333;"><b>Colour Plank Coil</b></span><br>
<span style="font:12px arial;color:#333;">Quality: Q195, SPCC, 0.8AL, SPCD, SPCE <br><br>

<b>Chemical Composition & Mechanical Properties refer to the table:</b><br>
</span>
<table width="557" cellspacing="1" cellpadding="1" border="0" style="background-color: rgb(153, 153, 153)">
        <tbody><tr class="featured" style="text-align: center">
          <td width="125" rowspan="2" class="featured" style="text-align: center">
              <div  >Steel Brand </div></td>
          <td colspan="5" class="featured" style="text-align: center">
              <div  >Chemical Composition % </div>
              </td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td width="85" class="maintext" style="text-align: center"><div >C</div></td>
          <td width="81" class="maintext" style="text-align: center"><div >Si</div></td>
          <td width="90" class="maintext" style="text-align: center"><div >Mn</div></td>
          <td width="86" class="maintext" style="text-align: center"><div >P</div></td>
          <td width="71" class="maintext" style="text-align: center"><div >S</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >Q195, SPCC, 0.8AL, SPCD, SPCE </div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.10%</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.03%</div></td>
          <td class="maintext" style="text-align: center"><div >0.2-0.40%</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.03%</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.03%</div></td>
        </tr>
      </tbody></table>

<br><br>

<span style="font:14px arial;color:#333;"><b>Flat Bar </b></span><br>
<span style="font:12px arial;color:#333;">Quality: Q235B, Q345B, SS400, S275JR, S235JR, ASTM A36 <br><br>

<b>Chemical Composition & Mechanical Properties refer to the table:</b><br>
</span>
<table width="557" cellspacing="1" cellpadding="1" border="0" style="background-color: rgb(153, 153, 153)">
        <tbody><tr class="featured" style="text-align: center">
          <td width="45" class="featured" style="text-align: center"></td>
          <td colspan="5">
            <div  >Chemical Composition % </div></td>
          <td colspan="3" class="featured" style="text-align: center">
          <div  >Mechanical Properties </div> </td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >Steel Brand</div></td>
          <td width="100" class="maintext" style="text-align: center"><div >C</div></td>
          <td width="43" class="maintext" style="text-align: center"><div >Si</div></td>
          <td width="65" class="maintext" style="text-align: center"><div >Mn</div></td>
          <td width="46" class="maintext" style="text-align: center"><div >P</div></td>
          <td width="43" class="maintext" style="text-align: center"><div >S</div></td>
          <td width="66" class="maintext" style="text-align: center"><div >Elongation %</div></td>
          <td width="53" class="maintext" style="text-align: center"><div >Yield Strength Mpa</div></td>
          <td width="63" class="maintext" style="text-align: center"><div >Tensile Strength Mpa</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >Q235B</div></td>
          <td class="maintext" style="text-align: center"><div >0.12-0.20</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.30</div></td>
          <td class="maintext" style="text-align: center"><div >0.30-0.70</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.045</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.045</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=25</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=235</div></td>
          <td class="maintext" style="text-align: center"><div >375-500</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >Q345B</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.20</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.55</div></td>
          <td class="maintext" style="text-align: center"><div >1.00-1.60</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.040</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.040</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=21</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=345</div></td>
          <td class="maintext" style="text-align: center"><div >470-630</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >SS400</div></td>
          <td class="maintext" style="text-align: center"><div >/</div></td>
          <td class="maintext" style="text-align: center"><div >/</div></td>
          <td class="maintext" style="text-align: center"><div >/</div></td>
          <td class="maintext" style="text-align: center">&lt;=0.050</td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.050</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=21</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=245</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=400</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >S275JR</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.21</div></td>
          <td class="maintext" style="text-align: center"><div >/</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=1.5</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.035</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.035</div></td>
          <td class="maintext" style="text-align: center"><div >/</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=275</div></td>
          <td class="maintext" style="text-align: center"><div >380-540</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >S235JR</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.20</div></td>
          <td class="maintext" style="text-align: center"><div >/</div></td>
          <td class="maintext" style="text-align: center"><div >/</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.045</div></td>
          <td class="maintext" style="text-align: center"><div >&lt;=0.045</div></td>
          <td class="maintext" style="text-align: center"><div >/</div></td>
          <td class="maintext" style="text-align: center"><div >&gt;=235</div></td>
          <td class="maintext" style="text-align: center"><div >290-510</div></td>
        </tr>
      </tbody></table>

<br><br>

<span style="font:14px arial;color:#333;"><b>Seamless Tube </b></span>
<table width="557" cellspacing="1" cellpadding="1" border="0" style="background-color: rgb(153, 153, 153)">
        <tbody><tr class="featured" style="text-align: center">
          <td width="17" rowspan="2" class="featured" style="text-align: center">NO</td>
          <td width="66" rowspan="2" class="featured" style="text-align: center">SERIES</td>
          <td width="93" rowspan="2" class="featured" style="text-align: center">DESCRIPTION OF GOODS</td>
          <td width="90" rowspan="2" class="featured" style="text-align: center">RAW MATERIAL</td>
          <td colspan="2" class="featured" style="text-align: center">SIZE (mm)</td>
          <td width="100" class="featured" style="text-align: center">PRECISION</td>
        </tr>
        <tr class="featured" style="text-align: center">
          <td width="25" class="featured" style="text-align: center"><div >O.D.</td>
          <td width="62" class="featured" style="text-align: center"><div >THICKNESS</td>
          <td></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >1</div></td>
          <td class="maintext" style="text-align: center"><div >
            <p>HOLLOW</p>
            <p> FORGING</p>
          </div></td>
          <td class="maintext" style="text-align: center"><div >HOLE-DRILLING HOLLOW FORGING </div></td>
          <td class="maintext" style="text-align: center"><div >10#, 20#,35#,45#, 20-35CrMo, 20-40Cr</div></td>
          <td class="maintext" style="text-align: center"><div >51-96</div></td>
          <td class="maintext" style="text-align: center"><div >2.7-15.0</div></td>
          <td class="maintext" style="text-align: center"><div >TRADE STANDARD</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td><div >2</div></td>
          <td rowspan="3" class="maintext" style="text-align: center"><div >
            <p>COLD </p>
            <p>DRAWING</p>
            <p> PIPE </p>
          </div></td>
          <td class="maintext" style="text-align: center"><div >STRUCTURAL PIPE </div></td>
          <td class="maintext" style="text-align: center"><div >10#, 20#, 35#, 45# </div></td>
          <td class="maintext" style="text-align: center"><div >20-76</div></td>
          <td class="maintext" style="text-align: center"><div >1.0-11.0</div></td>
          <td class="maintext" style="text-align: center"><div >GB/T8162-1999</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >3</div></td>
          <td class="maintext" style="text-align: center"><div >DUCT LIQUID PIPE </div></td>
          <td class="maintext" style="text-align: center"><div >10#,20#, 20G, 20A </div></td>
          <td class="maintext" style="text-align: center"><div >16-76</div></td>
          <td class="maintext" style="text-align: center"><div >1.5-6.0</div></td>
          <td class="maintext" style="text-align: center"><div >GB/T8163-1999</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >4</div></td>
          <td class="maintext" style="text-align: center"><div >LOW MEDIUM PRESSURE BOILER TUBE </div></td>
          <td class="maintext" style="text-align: center"><div >10#, 20#, 20A, 20G</div></td>
          <td class="maintext" style="text-align: center"><div >25-76</div></td>
          <td class="maintext" style="text-align: center"><div >1.5-6.0</div></td>
          <td class="maintext" style="text-align: center"><div >GB3087-1999</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >5</div></td>
          <td rowspan="2" class="maintext" style="text-align: center"><div >
            <p>SUPERIOR</p>
            <p> DRAWING </p>
            <p>PIPE </p>
          </div></td>
          <td class="maintext" style="text-align: center"><div >SUPERIOR PULLING PIPE</div></td>
          <td class="maintext" style="text-align: center"><div >20# 20-35CrMo, 20-40Cr</div></td>
          <td class="maintext" style="text-align: center"><div >3-57</div></td>
          <td class="maintext" style="text-align: center"><div >0.5-5.0</div></td>
          <td rowspan="2"><div >CLEANLINESS: Ra3.2 O.D.:+/- 0.02mm ENDOPORE:+/- 0.02mm</div></td>
        </tr>
        <tr class="maintext" style="text-align: center">
          <td class="maintext" style="text-align: center"><div >6</div></td>
          <td class="maintext" style="text-align: center"><div >WELDING PIPE SEAMLESSNESS </div></td>
          <td class="maintext" style="text-align: center"><div >Q195~235 SPHC SPCC, 0.8AL, H08</div></td>
          <td class="maintext" style="text-align: center"><div >10-57</div></td>
          <td class="maintext" style="text-align: center"><div >0.5-5.0</div></td>
        </tr>
      </tbody></table>
                    <br></center>
    </ion-content>
</ion-view>