<ion-view view-title="World Of Steel">
	<ion-header-bar class="bar-subheader">
            <h4><center>Coated Cold Rolled Steel European Equivalent Grades</center></h4>
  	</ion-header-bar>
    <ion-content has-header="true" overflow-scrolling="true" padding="false" direction="xy" delegate-handle="mainScroll">
                <br><br>
                <center>
                    <br>
                    <table width="1198px" cellspacing="1" cellpadding="1" border="0" bgcolor="#999999">
        <tbody><tr bgcolor="#999999">
          <td class="featured" colspan="3">European Standard Designation </td>
          <td class="featured" colspan="6">Equivalent Qualities According to Former National Standards</td>
        </tr>
        <tr bgcolor="#999999">
          <td width="11%" class="featured">Standard</td>

            <td width="14%" class="featured">Symbolic Designation </td>

            <td width="10%" class="featured">Former Designation </td>

            <td width="11%" class="featured">France <br>
            NFA </td>
            <td width="10%" class="featured">Germany DIN </td>
            <td width="11%" class="featured">Italy <br>
            UNI </td>
            <td width="8%" class="featured">Great Britain BS </td>
            <td width="12%" class="featured">USA <br>
            ASTM </td>
            <td width="13%" class="featured">Japan <br>
            JIS </td>

        </tr>

          <tr bgcolor="#999999">

            <td class="tabletext maintext" rowspan="1" colspan="9"><strong>1.Uncoated Mild Steel for Stamping </strong></td>
        </tr>

          <tr bgcolor="#999999">

            <td class="maintext" rowspan="3" colspan="3"><div align="center"><br>
            EN 10 130 </div></td>

            <td class="maintext" rowspan="1">36.401 </td>
            <td class="maintext" rowspan="1">1623-1 </td>
            <td class="maintext" rowspan="1">5866 </td>
            <td class="maintext" rowspan="1">1449 P1 </td>
            <td class="maintext" rowspan="1">A 366-91 </td>
            <td class="maintext" rowspan="1" colspan="1">3141</td>

        </tr>

          <tr bgcolor="#999999">

            <td class="maintext" rowspan="1">(1983)</td>
            <td class="maintext" rowspan="1">(1983)</td>
            <td class="maintext" rowspan="1">(1977)</td>
            <td class="maintext" rowspan="1">(1983) </td>
            <td class="maintext" rowspan="1">A 619-92</td>
            <td class="maintext" rowspan="1" colspan="1">(1990)</td>

        </tr>

          <tr bgcolor="#999999">

            <td class="maintext" rowspan="1">&nbsp;</td>
            <td class="maintext" rowspan="1">&nbsp;</td>
            <td class="maintext" rowspan="1">&nbsp;</td>
            <td class="maintext" rowspan="1">&nbsp;</td>
            <td class="maintext" rowspan="1">A 620-92 </td>
            <td class="maintext" rowspan="1" colspan="1">&nbsp;</td>

        </tr>

          <tr bgcolor="#999999">

            <td class="maintext" rowspan="1" colspan="1"></td>

            <td class="maintext" rowspan="1" colspan="1">DC 01 </td>

            <td class="maintext">Fe P01 </td>

            <td class="maintext" rowspan="1">&nbsp;</td>
            <td class="maintext" rowspan="1">&nbsp;</td>
            <td class="maintext" rowspan="1">&nbsp;</td>
            <td class="maintext" rowspan="1">CR 4 </td>
            <td class="maintext" rowspan="1">&nbsp;</td>
            <td class="maintext" rowspan="1" colspan="1">&nbsp;</td>

        </tr>

          <tr bgcolor="#999999">

            <td class="maintext" rowspan="1" colspan="1"></td>

            <td class="maintext" rowspan="1" colspan="1">DC 03 </td>

            <td class="maintext">Fe P03</td>

            <td class="maintext" rowspan="1">C</td>
            <td class="maintext" rowspan="1">St 12 </td>
            <td class="maintext" rowspan="1">Fe P01 </td>
            <td class="maintext" rowspan="1">CR 3 </td>
            <td class="maintext" rowspan="1">A 366 CQ </td>
            <td class="maintext" rowspan="1" colspan="1">SPCC</td>

        </tr>

          <tr bgcolor="#999999">

            <td class="maintext" rowspan="1" colspan="1"></td>

            <td class="maintext" rowspan="1" colspan="1">DC 04 </td>

            <td class="maintext">Fe P04</td>

            <td class="maintext" rowspan="1">E</td>
            <td class="maintext" rowspan="1">St 13 </td>
            <td class="maintext" rowspan="1">Fe P02</td>
            <td class="maintext" rowspan="1">CR 2-CR </td>
            <td class="maintext" rowspan="1">A 619 DQ </td>
            <td class="maintext" rowspan="1" colspan="1">SPCD</td>

        </tr>

          <tr bgcolor="#999999">

            <td class="maintext" rowspan="1" colspan="1"></td>

            <td class="maintext" rowspan="1" colspan="1">DC 05 </td>

            <td class="maintext">Fe P05</td>

            <td class="maintext" rowspan="1">ES</td>
            <td class="maintext" rowspan="1">St 14</td>
            <td class="maintext" rowspan="1">Fe P04</td>
            <td class="maintext" rowspan="1">1</td>
            <td class="maintext" rowspan="1">A 620 DQSK </td>
            <td class="maintext" rowspan="1" colspan="1">SPCE</td>

        </tr>

          <tr bgcolor="#999999">

            <td class="maintext" rowspan="1" colspan="1"></td>

            <td class="maintext" rowspan="1" colspan="1">DC 05</td>

            <td class="maintext">Fe P06</td>

            <td class="maintext" rowspan="1">&nbsp;</td>
            <td class="maintext" rowspan="1">&nbsp;</td>
            <td class="maintext" rowspan="1">&nbsp;</td>
            <td class="maintext" rowspan="1">&nbsp;</td>
            <td class="maintext" rowspan="1">&nbsp;</td>
            <td class="maintext" rowspan="1" colspan="1">&nbsp;</td>

        </tr>

          <tr bgcolor="#999999">

            <td class="maintext"></td>

            <td class="maintext"></td>

            <td class="maintext">&nbsp;</td>

            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>

        </tr>

          <tr bgcolor="#999999">

            <td class="tabletext maintext" colspan="9"><strong>2. Uncoated Mild Steel for Various Enamelling </strong></td>
        </tr>

          <tr bgcolor="#999999">

            <td class="maintext" rowspan="2" colspan="3"> <div align="center"><br>
            EN 10 209</div></td>

            <td class="maintext" rowspan="1">36.401 </td>
            <td class="maintext" rowspan="1">1623-1 </td>
            <td class="maintext" rowspan="1">5866 </td>
            <td class="maintext" rowspan="1">1449 P1 </td>
            <td class="maintext" rowspan="1">A 424-92 </td>
            <td class="maintext" rowspan="1" colspan="1">3141 (1990) </td>

        </tr>

          <tr bgcolor="#999999">

            <td class="maintext" rowspan="1">(1983)</td>
            <td class="maintext" rowspan="1">(1983)</td>
            <td class="maintext" rowspan="1">(1977)</td>
            <td class="maintext" rowspan="1">(1983) </td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">3133 (1998) </td>

        </tr>

          <tr bgcolor="#999999">

            <td class="maintext" rowspan="1" colspan="1"></td>

            <td class="maintext" rowspan="1" colspan="1">DC 01 EK </td>

            <td class="maintext" rowspan="1" colspan="1">Fe K1 </td>

            <td class="maintext" rowspan="1">&nbsp;</td>
            <td class="maintext" rowspan="1">&nbsp;</td>
            <td class="maintext" rowspan="1">&nbsp;</td>
            <td class="maintext" rowspan="1">&nbsp;</td>
            <td class="maintext" rowspan="1">type I </td>
            <td class="maintext" rowspan="1" colspan="1">&nbsp;</td>

        </tr>

          <tr bgcolor="#999999">

            <td class="maintext"></td>

            <td class="maintext">DC 04 EK </td>

            <td class="maintext">Fe K4</td>

            <td class="maintext">EME</td>
            <td class="maintext">EK2</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">type I </td>
            <td class="maintext">SPCD</td>

        </tr>

          <tr bgcolor="#999999">

            <td class="maintext"></td>

            <td class="maintext">DC 06 EK</td>

            <td class="maintext">Fe K6 </td>

            <td class="maintext">EMES</td>
            <td class="maintext">EK4</td>
            <td class="maintext">Fe P02 S </td>
            <td class="maintext">CR3 VE</td>
            <td class="maintext">type III </td>
            <td class="maintext">&nbsp;</td>

        </tr>

          <tr bgcolor="#999999">

            <td class="maintext"></td>

            <td class="maintext">DC 03 ED </td>

            <td class="maintext">Fe D3 </td>

            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">Fe P04 S </td>
            <td class="maintext">CR 2 VE </td>
            <td class="maintext">type II </td>
            <td class="maintext">&nbsp;</td>

        </tr>

          <tr bgcolor="#999999">

            <td class="maintext" rowspan="1" colspan="1">&nbsp;</td>

            <td class="maintext" rowspan="1" colspan="1">DC 04 ED</td>

            <td class="maintext" rowspan="1" colspan="1">Fe D4</td>

            <td class="maintext">&nbsp;</td>
            <td class="maintext">ED3</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">type II</td>
            <td class="maintext">SPP</td>

        </tr>

          <tr bgcolor="#999999">

            <td class="maintext" rowspan="1" colspan="1"></td>

            <td class="maintext" rowspan="1" colspan="1">DC 06 ED</td>

            <td class="maintext" rowspan="1" colspan="1">Fe D6</td>

            <td class="maintext">&nbsp;</td>
            <td class="maintext">ED4</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">type III </td>
            <td class="maintext">&nbsp;</td>

        </tr>

          <tr bgcolor="#999999">

            <td class="maintext" rowspan="1" colspan="1"></td>

            <td class="maintext" rowspan="1" colspan="1"></td>

            <td class="maintext" rowspan="1" colspan="1">&nbsp;</td>

            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>

        </tr>

          <tr bgcolor="#999999">

            <td class="tabletext maintext" colspan="9"><strong>3. Weldable HSLA Steels </strong></td>
        </tr>

          <tr bgcolor="#999999">

            <td class="maintext" rowspan="2" colspan="3"><div align="center"><br>
              EN 10 268<br>
            </div></td>

            <td class="maintext">36.232</td>
            <td class="maintext">SEW - 93 </td>
            <td class="maintext">-</td>
            <td class="maintext">-</td>
            <td class="maintext">A 607-92</td>
            <td class="maintext">&nbsp;</td>

        </tr>

          <tr bgcolor="#999999">

            <td class="maintext">(1992)</td>
            <td class="maintext">(1987)</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>

        </tr>

          <tr bgcolor="#999999">

            <td class="maintext" rowspan="1" colspan="1"></td>

            <td class="maintext" rowspan="1" colspan="1">H 240 LA </td>

            <td class="maintext">&nbsp;</td>

            <td class="maintext" rowspan="1">&nbsp;</td>
            <td class="maintext" rowspan="1">Z St E 260 </td>
            <td class="maintext" rowspan="1">&nbsp;</td>
            <td class="maintext" rowspan="1">&nbsp;</td>
            <td class="maintext" rowspan="1">&nbsp;</td>
            <td class="maintext" rowspan="1" colspan="1">&nbsp;</td>

        </tr>

          <tr bgcolor="#999999">

            <td class="maintext"></td>

            <td class="maintext"></td>

            <td class="maintext">&nbsp;</td>

            <td class="maintext">E 240 C</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>

        </tr>

          <tr bgcolor="#999999">

            <td class="maintext"></td>

            <td class="maintext">H 280 LA </td>

            <td class="maintext">&nbsp;</td>

            <td class="maintext">E 260 C</td>
            <td class="maintext">Z St E 300</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">Grade 45 </td>
            <td class="maintext">&nbsp;</td>

        </tr>

          <tr bgcolor="#999999">

            <td class="maintext"></td>

            <td class="maintext">H 320 LA </td>

            <td class="maintext">&nbsp;</td>

            <td class="maintext">E 280 C</td>
            <td class="maintext">Z St E 340</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">Grade 50 </td>
            <td class="maintext">&nbsp;</td>

        </tr>

          <tr bgcolor="#999999">

            <td class="maintext"></td>

            <td class="maintext">H 360 LA </td>

            <td class="maintext">&nbsp;</td>

            <td class="maintext">E 315 C</td>
            <td class="maintext">Z St E 380</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">Grade 55 </td>
            <td class="maintext">&nbsp;</td>

        </tr>

          <tr bgcolor="#999999">

            <td class="maintext"></td>

            <td class="maintext">H 400 LA </td>

            <td class="maintext">&nbsp;</td>

            <td class="maintext">E 355 C</td>
            <td class="maintext">Z St E 420</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">Grade 60 </td>
            <td class="maintext">&nbsp;</td>

        </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext"></td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="tabletext maintext" colspan="9"><strong>4. Electrogalvanized Mild Steels </strong></td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext" rowspan="3" colspan="3"><div align="center"><br>
            EN 10 152 </div></td>
            <td class="maintext">36.401 (1983) </td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext">+36.160</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">A 591-89</td>
            <td class="maintext">3313</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext">(1979)</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">A 879-93</td>
            <td class="maintext">(1990)</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">DC 01 + ZE </td>
            <td class="maintext">Fe P01 ZE </td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">DC 03 + ZE</td>
            <td class="maintext">Fe P03 ZE </td>
            <td class="maintext">C</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">CQ</td>
            <td class="maintext">SPCC</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">DC 04 + ZE</td>
            <td class="maintext">Fe P04 ZE </td>
            <td class="maintext">E</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">DQ</td>
            <td class="maintext">SPCD</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">DC 05 + ZE</td>
            <td class="maintext">Fe P05 ZE </td>
            <td class="maintext">ES</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">DQSK</td>
            <td class="maintext">SPCE</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">DC 06 + ZE</td>
            <td class="maintext">Fe P06 ZE </td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext"></td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="tabletext maintext" colspan="9"><strong>5. Continuously Hot Dipped Galvanized Mild Steels for Forming </strong></td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext" rowspan="2" colspan="3"><div align="center"><br>
            EN 10 142</div></td>
            <td class="maintext">36.321</td>
            <td class="maintext">17.162-1</td>
            <td class="maintext">5753</td>
            <td class="maintext">2989</td>
            <td class="maintext">A 653-97</td>
            <td class="maintext">3302</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext">(1985)</td>
            <td class="maintext">(1977)</td>
            <td class="maintext">(1984)</td>
            <td class="maintext">(1982)</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">(1987)</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext"></td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">St 01 Z </td>
            <td class="maintext">Fe P01 G </td>
            <td class="maintext">Z1</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">DX 51D+Z </td>
            <td class="maintext">Fe P02G </td>
            <td class="maintext">GC</td>
            <td class="maintext">St 02 Z </td>
            <td class="maintext">Fe P02 G </td>
            <td class="maintext">Z2</td>
            <td class="maintext">CS</td>
            <td class="maintext">SGCC</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">DX 51D+ZF</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">DX 52D+Z</td>
            <td class="maintext">Fe P03 G </td>
            <td class="maintext">GE</td>
            <td class="maintext">St 03 Z </td>
            <td class="maintext">Fe P03 G </td>
            <td class="maintext">Z3</td>
            <td class="maintext">CS</td>
            <td class="maintext">SG CD 1 </td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">DX 52D+ZF</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">DX 53D+Z</td>
            <td class="maintext">Fe P05 G </td>
            <td class="maintext">GES</td>
            <td class="maintext">St 04 or 05Z </td>
            <td class="maintext">Fe P04 or 05G </td>
            <td class="maintext">Z4</td>
            <td class="maintext">FS</td>
            <td class="maintext">SG CD 2 </td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">DX 53D+ZF</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">DX 54D+Z</td>
            <td class="maintext">Fe P06 G </td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">DDS</td>
            <td class="maintext">SG CD 3 </td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">DX 54D+ZF</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext"></td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="tabletext maintext" colspan="9"><strong>6. Continuously Hot Dipped Galvanized Structural Steels </strong></td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext" rowspan="2" colspan="3"><div align="center"><br>
            EN 10 147 </div></td>
            <td class="maintext">36.322</td>
            <td class="maintext">17.162-2</td>
            <td class="maintext">5753</td>
            <td class="maintext">2989</td>
            <td class="maintext">A 653-97 </td>
            <td class="maintext">3302</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext">(1978)</td>
            <td class="maintext">(1980)</td>
            <td class="maintext">(1984)</td>
            <td class="maintext">(1982)</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">(1987)</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">S 220 GD+Z</td>
            <td class="maintext">Fe E 220 G </td>
            <td class="maintext">C230</td>
            <td class="maintext">-</td>
            <td class="maintext">-</td>
            <td class="maintext">Z 22 </td>
            <td class="maintext">SQ-Grade 230 </td>
            <td class="maintext">-</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">S 220 GD+ZF</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext"></td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">S 250 GD+Z</td>
            <td class="maintext">Fe E 250 G </td>
            <td class="maintext">C 250 </td>
            <td class="maintext">St E 250-2Z</td>
            <td class="maintext">Fe E 250 G </td>
            <td class="maintext">Z 25 </td>
            <td class="maintext">SQ-Grade 255</td>
            <td class="maintext">SGC 340 </td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">S 250 GD+ZF</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext"></td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">S 280 GD+Z</td>
            <td class="maintext">Fe E 280 G </td>
            <td class="maintext">C 280 </td>
            <td class="maintext">St E 280-2Z</td>
            <td class="maintext">Fe E 280 G </td>
            <td class="maintext">Z 28 </td>
            <td class="maintext">SQ-Grade 275</td>
            <td class="maintext">SGC 400 </td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">S 280 GD+ZF</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">or 3Z </td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext"></td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">S 320 GD+Z</td>
            <td class="maintext">Fe E 320 G </td>
            <td class="maintext">C 320 </td>
            <td class="maintext">St E 320-2Z</td>
            <td class="maintext">Fe E 320 G </td>
            <td class="maintext">-</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">SGC 440</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">S 320 GD+ZF</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext"></td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">S 350 GD+Z</td>
            <td class="maintext">Fe E 350 G </td>
            <td class="maintext">C 350 </td>
            <td class="maintext">St E 350-2Z</td>
            <td class="maintext">Fe E 350 G </td>
            <td class="maintext">Z 35 </td>
            <td class="maintext">SQ-Grade 340 </td>
            <td class="maintext">SGC 490</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">S 350 GD+ZF</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext"></td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">S 550 GD+Z</td>
            <td class="maintext">Fe E 550 G </td>
            <td class="maintext"> C 550 </td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">Fe E 550 G </td>
            <td class="maintext">Z 55 </td>
            <td class="maintext">SQ-Grade 550 </td>
            <td class="maintext">SGC 570 </td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">S 550 GD+ZF</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext"></td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="tabletext maintext" colspan="9"><strong>7. Zn-Al Alloy Continuously Hot Dipped Coated Steel Strip and Sheet </strong></td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext" rowspan="2" colspan="3"><div align="center"><br>
            EN 10 214 </div></td>
            <td class="maintext">36.323</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">A 875-97 </td>
            <td class="maintext">3317</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext">(1991)</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">(type-1)</td>
            <td class="maintext">(1990)</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext"></td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">36.324</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext"></td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">(1991)</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext"></td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">DX 51 D+ZA </td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">FC</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">CS</td>
            <td class="maintext">SZA CC </td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">DX 52 D+ZA</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">FE</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">FS</td>
            <td class="maintext">SZ AC D1 </td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">DX 53 D+ZA</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">FES</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">DDS</td>
            <td class="maintext">SZ AC D2 </td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">DX 54 D+ZA</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">FEX</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">EDDS</td>
            <td class="maintext">SZ AC D3 </td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext"></td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">S 220 GD+ZA</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">C 220 </td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">SQ-Grade 230 </td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">S 250 GD+ZA</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">C 250 </td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">SQ-Grade 255</td>
            <td class="maintext">SZ AC 340 </td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">S 280 GD+ZA</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">C 280 </td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">SQ-Grade 275</td>
            <td class="maintext">SZ AC 400</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">S 320 GD+ZA</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">C 320 </td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">SZ AC 440</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">S 350 GD+ZA</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">C 350 </td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">SQ-Grade 340</td>
            <td class="maintext">SZ AC 490</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">S 550 GD+ZA</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">C 550 </td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">SQ-Grade 550</td>
            <td class="maintext">SZ AC 570</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext"></td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="tabletext maintext" colspan="9"><strong>8. Al Si Alloy Continuously Hot Dipped Coated Strip Sheet</strong></td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext" rowspan="2" colspan="3"><div align="center"><br>
            EN 10 154 </div></td>
            <td class="maintext">36.340</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">65.36</td>
            <td class="maintext">A 463-97 </td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext">(1991)</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">(1985)</td>
            <td class="maintext">(type-1)</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">DX 51 D+AS </td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">AS-C</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">AS 01 GA </td>
            <td class="maintext">-</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">DX 52 D+AS </td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">AS-TC</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">AS 02 GA </td>
            <td class="maintext">CS</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext"></td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">AS-E</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">AS 03 GA </td>
            <td class="maintext">CS</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">DX 53 D+AS </td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">AS-ES</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">AS 04 GA </td>
            <td class="maintext">FS</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">DX 54 D+AS </td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">AS-EX</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">-</td>
            <td class="maintext">DDS</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">DX 55 D+AS </td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">-</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">-</td>
            <td class="maintext">-</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">DX 56 D+AS </td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">EDDS</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">S 250 GD+AS</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">S 280 GD+AS</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">S 320 GD+AS</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
          <tr bgcolor="#999999">
            <td class="maintext"></td>
            <td class="maintext">S 350 GD+AS</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
            <td class="maintext">&nbsp;</td>
          </tr>
      </tbody></table>
                    <br>
                </center>
    </ion-content>
</ion-view>