<ion-view view-title="World Of Steel">
	<ion-header-bar class="bar-subheader">
            <h4><center>About Electrical Steel</center></h4>
  	</ion-header-bar>
    <ion-content has-header="true" overflow-scrolling="true" padding="false" direction="xy" delegate-handle="mainScroll">
                <br><br>
                <center>
                    <br>
                   <span style="font:12px arial">
International Standards for Electrical Steel<br><br>

<b>1) CRGO (Cold Rolled Grain Oriented Electrical Steel): </b>
</span><br><br>
<table width="50%" cellspacing="1" cellpadding="1" border="0" bgcolor="#999999">
             <tbody><tr class="featured" style="text-align: center">
               <td class="featured" style="text-align: center" width="87">Thickness</td>
               <td class="featured" style="text-align: center" width="118">POSCO</td>
               <td class="featured" style="text-align: center" width="98">JIS</td>
               <td class="featured" style="text-align: center" width="90">ASTM</td>
               <td class="featured" style="text-align: center" width="106">EN</td>
             </tr>
             <tr class="featured" style="text-align: center">
               <td class="featured" style="text-align: center">MM</td>
               <td class="featured" style="text-align: center">&nbsp;</td>
               <td class="featured" style="text-align: center">JIS C 2553 </td>
               <td class="featured" style="text-align: center">&nbsp;</td>
               <td class="featured" style="text-align: center">EN10107</td>
             </tr>
             <tr class="featured" style="text-align: center">
               <td class="featured" style="text-align: center">(inch)</td>
               <td class="featured" style="text-align: center">(2006)</td>
               <td class="featured" style="text-align: center">(2000)</td>
               <td class="featured" style="text-align: center">(1999)</td>
               <td class="featured" style="text-align: center">(1995)</td>
             </tr>
             <tr class="featured" style="text-align: center">
               <td class="featured" style="text-align: center">&nbsp;</td>
               <td class="featured" style="text-align: center">w/kg</td>
               <td class="featured" style="text-align: center">w/kg</td>
               <td class="featured" style="text-align: center">w/kg</td>
               <td class="featured" style="text-align: center">w/kg</td>
             </tr>
             <tr class="featured" style="text-align: center">
               <td class="featured" style="text-align: center">&nbsp;</td>
               <td class="featured" style="text-align: center">17/50</td>
               <td class="featured" style="text-align: center">17/50</td>
               <td class="featured" style="text-align: center">17/60</td>
               <td class="featured" style="text-align: center">17/50</td>
             </tr>
             <tr class="maintext" style="text-align: center" >
               <td rowspan="4"><div align="center"><br>
                 0.23 <br>
               (0.009)</div></td>
               <td class="maintext" style="text-align: center" >23PHD085 0.85 </td>
               <td class="maintext" style="text-align: center" >23R085 0.85 </td>
               <td class="maintext" style="text-align: center" >23Q054 1.19 </td>
               <td class="maintext" style="text-align: center" >&nbsp;</td>
             </tr>
             <tr>
               <td class="maintext" style="text-align: center" >23PH090 0.95</td>
               <td class="maintext" style="text-align: center" >23P090 0.90 </td>
               <td class="maintext" style="text-align: center" >&nbsp;</td>
               <td class="maintext" style="text-align: center" >&nbsp;</td>
             </tr>
             <tr>
               <td class="maintext" style="text-align: center" >23PH095 0.95</td>
               <td class="maintext" style="text-align: center" >23P095 0.95 </td>
               <td class="maintext" style="text-align: center" >&nbsp;</td>
               <td class="maintext" style="text-align: center" >&nbsp;</td>
             </tr>
             <tr>
               <td class="maintext" style="text-align: center" >23PH100 1.00 </td>
               <td class="maintext" style="text-align: center" >23P100 1.00 </td>
               <td class="maintext" style="text-align: center" >23P090 1.32 </td>
               <td class="maintext" style="text-align: center" >M100-23P 1.00 </td>
             </tr>
             <tr class="maintext" style="text-align: center" >
               <td rowspan="6"><div align="center"><br>
                 0.27 <br>
          (0.0161)</div></td>
               <td class="maintext" style="text-align: center" >27PHD090 0.90 </td>
               <td class="maintext" style="text-align: center" >27R090 0.90 </td>
               <td class="maintext" style="text-align: center" >&nbsp;</td>
               <td class="maintext" style="text-align: center" >&nbsp;</td>
             </tr>
             <tr>
               <td class="maintext" style="text-align: center" >27PH095 0.95 </td>
               <td class="maintext" style="text-align: center" >&nbsp;</td>
               <td class="maintext" style="text-align: center" >&nbsp;</td>
               <td class="maintext" style="text-align: center" >&nbsp;</td>
             </tr>
             <tr>
               <td class="maintext" style="text-align: center" >27PH100 1.00 </td>
               <td class="maintext" style="text-align: center" >27P100 1.00 </td>
               <td class="maintext" style="text-align: center" >&nbsp;</td>
               <td class="maintext" style="text-align: center" >M103-27P 1.03</td>
             </tr>
             <tr>
               <td class="maintext" style="text-align: center" >27PG110 1.10 </td>
               <td class="maintext" style="text-align: center" >27P110 1.10 </td>
               <td class="maintext" style="text-align: center" >27P066 1.46 </td>
               <td class="maintext" style="text-align: center" >&nbsp;</td>
             </tr>
             <tr>
               <td class="maintext" style="text-align: center" >27PG120 1.20 </td>
               <td class="maintext" style="text-align: center" >27G120 1.20 </td>
               <td class="maintext" style="text-align: center" >&nbsp;</td>
               <td class="maintext" style="text-align: center" >M130-27S 1.30 </td>
             </tr>
             <tr>
               <td class="maintext" style="text-align: center" >27PG130 1.30 </td>
               <td class="maintext" style="text-align: center" >27G130 1.30 </td>
               <td class="maintext" style="text-align: center" >27H074 1.63 </td>
               <td class="maintext" style="text-align: center" >&nbsp;</td>
             </tr>
             <tr class="maintext" style="text-align: center" >
               <td rowspan="6"><div align="center"><br>
                 <br>
                 0.30 <br>
               (0.0118)</div></td>
               <td class="maintext" style="text-align: center" >30PH100 1.00 </td>
               <td class="maintext" style="text-align: center" >&nbsp;</td>
               <td class="maintext" style="text-align: center" >&nbsp;</td>
               <td class="maintext" style="text-align: center" >M105-30P 1.11 </td>
             </tr>
             <tr class="maintext" style="text-align: center" >
               <td class="maintext" style="text-align: center" >30PH105 1.05 </td>
               <td class="maintext" style="text-align: center" >30P105 1.05 </td>
               <td class="maintext" style="text-align: center" >&nbsp;</td>
               <td class="maintext" style="text-align: center" >&nbsp;</td>
             </tr>
             <tr class="maintext" style="text-align: center" >
               <td class="maintext" style="text-align: center" >30PG110 1.10 </td>
               <td class="maintext" style="text-align: center" >30P110 1.10 </td>
               <td class="maintext" style="text-align: center" >&nbsp;</td>
               <td class="maintext" style="text-align: center" >M111-30P 1.11</td>
             </tr>
             <tr class="maintext" style="text-align: center" >
               <td class="maintext" style="text-align: center" >30PG120 1.20 </td>
               <td class="maintext" style="text-align: center" >30P120 1.20 </td>
               <td class="maintext" style="text-align: center" >&nbsp;</td>
               <td class="maintext" style="text-align: center" >M117-30P 1.17 </td>
             </tr>
             <tr class="maintext" style="text-align: center" >
               <td class="maintext" style="text-align: center" >30PG130 1.30 </td>
               <td class="maintext" style="text-align: center" >30G130 1.30 </td>
               <td class="maintext" style="text-align: center" >&nbsp;</td>
               <td class="maintext" style="text-align: center" >&nbsp;</td>
             </tr>
             <tr class="maintext" style="text-align: center" >
               <td class="maintext" style="text-align: center" >30PG140 1.40 </td>
               <td class="maintext" style="text-align: center" >30G140 1.40 </td>
               <td class="maintext" style="text-align: center" >30H083 1.83 </td>
               <td class="maintext" style="text-align: center" >M140-30S 1.40 </td>
             </tr>
             <tr class="maintext" style="text-align: center" >
               <td rowspan="5"><div align="center"><br>
                 0.35 <br>
               (0.0138)</div></td>
               <td class="maintext" style="text-align: center">35PH115 1.15 </td>
               <td class="maintext" style="text-align: center">35P115 1.15 </td>
               <td class="maintext" style="text-align: center">&nbsp;</td>
               <td class="maintext" style="text-align: center">&nbsp;</td>
             </tr>
             <tr class="maintext" style="text-align: center" >
               <td class="maintext" style="text-align: center">35PH125 1.25 </td>
               <td class="maintext" style="text-align: center">35P125 1.25 </td>
               <td class="maintext" style="text-align: center">&nbsp;</td>
               <td class="maintext" style="text-align: center">&nbsp;</td>
             </tr>
             <tr class="maintext" style="text-align: center" >
               <td>35PH135 1.35 </td>
               <td class="maintext" style="text-align: center">&nbsp;</td>
               <td class="maintext" style="text-align: center">&nbsp;</td>
               <td class="maintext" style="text-align: center">&nbsp;</td>
             </tr>
             <tr class="maintext" style="text-align: center" >
               <td class="maintext" style="text-align: center">35PG145 1.45 </td>
               <td class="maintext" style="text-align: center">35G145 1.45 </td>
               <td class="maintext" style="text-align: center">&nbsp;</td>
               <td class="maintext" style="text-align: center">&nbsp;</td>
             </tr>
             <tr class="maintext" style="text-align: center" >
               <td class="maintext" style="text-align: center">35PG155 1.55 </td>
               <td class="maintext" style="text-align: center">35G155 1.55 </td>
               <td class="maintext" style="text-align: center">35H094 2.07 </td>
               <td class="maintext" style="text-align: center">M150-35S 1.50 </td>
             </tr>
      </tbody></table>
<br><br>
<span style="font:12px arial">
<b>2) CRNGO (Cold Rolled Non Grain Oriented Electrical Steel): </b>
</span><br><br>

<table width="51%" cellspacing="1" cellpadding="1" border="0" bgcolor="#999999">
        <tbody><tr class="featured" style="text-align: center">
          <td width="87" class="featured" style="text-align: center">Thickness</td>
          <td width="115" class="featured" style="text-align: center">POSCO</td>
          <td width="99" class="featured" style="text-align: center">JIS</td>
          <td width="75" class="featured" style="text-align: center">ASTM</td>
          <td width="113" class="featured" style="text-align: center">EN</td>
        </tr>
        <tr class="featured" style="text-align: center">
          <td class="featured" style="text-align: center">MM</td>
          <td class="featured" style="text-align: center">&nbsp;</td>
          <td class="featured" style="text-align: center">JIS C 2552</td>
          <td class="featured" style="text-align: center">&nbsp;</td>
          <td class="featured" style="text-align: center">EN10106</td>
        </tr>
        <tr class="featured" style="text-align: center">
          <td class="featured" style="text-align: center">(inch)</td>
          <td class="featured" style="text-align: center">(2006)</td>
          <td class="featured" style="text-align: center">(2000)</td>
          <td class="featured" style="text-align: center">(1999)</td>
          <td class="featured" style="text-align: center">(1995)</td>
        </tr>
        <tr class="featured" style="text-align: center">
          <td class="featured" style="text-align: center"&nbsp;</td>
          <td class="featured" style="text-align: center">w/kg</td>
          <td class="featured" style="text-align: center">w/kg</td>
          <td class="featured" style="text-align: center">w/kg</td>
          <td class="featured" style="text-align: center">w/kg</td>
        </tr>
        <tr class="featured" style="text-align: center">
          <td class="featured" style="text-align: center">&nbsp;</td>
          <td class="featured" style="text-align: center">17/50</td>
          <td class="featured" style="text-align: center">17/50</td>
          <td class="featured" style="text-align: center">17/60</td>
          <td class="featured" style="text-align: center">17/50</td>
        </tr>
        <tr class="maintext" style="text-align: center" >
          <td rowspan="7"><div align="center"><br>
            <br>
            <br>
            0.35<br>
        (0.0138)</div></td>
          <td class="maintext" style="text-align: center" >35PN210 2.10 </td>
          <td class="maintext" style="text-align: center" >35A210 2.10 </td>
          <td class="maintext" style="text-align: center" >23Q054 1.19 </td>
          <td class="maintext" style="text-align: center" >&nbsp;</td>
        </tr>
        <tr class="maintext" style="text-align: center" >
          <td class="maintext" style="text-align: center" >35PN230 2.30 </td>
          <td class="maintext" style="text-align: center" >35A230 2.30 </td>
          <td class="maintext" style="text-align: center" >&nbsp;</td>
          <td class="maintext" style="text-align: center" >M235-35A 2.35 </td>
        </tr>
        <tr class="maintext" style="text-align: center" >
          <td class="maintext" style="text-align: center" >35PN250 2.50 </td>
          <td class="maintext" style="text-align: center" >35A250 2.50 </td>
          <td class="maintext" style="text-align: center" >36F145 3.20 </td>
          <td class="maintext" style="text-align: center" >M250-35A 2.50 </td>
        </tr>
        <tr class="maintext" style="text-align: center" >
          <td class="maintext" style="text-align: center" >35PN270 2.70 </td>
          <td class="maintext" style="text-align: center" >35A270 2.70 </td>
          <td class="maintext" style="text-align: center" >36F155 3.42 </td>
          <td class="maintext" style="text-align: center" >M270-35A 2.70 </td>
        </tr>
        <tr class="maintext" style="text-align: center" >
          <td class="maintext" style="text-align: center" >35PM300 3.00 </td>
          <td class="maintext" style="text-align: center" >35A300 3.00 </td>
          <td class="maintext" style="text-align: center" >36F175 3.86 </td>
          <td class="maintext" style="text-align: center" >M300-35A 3.00</td>
        </tr>
        <tr class="maintext" style="text-align: center" >
          <td class="maintext" style="text-align: center" >35PM360 3.60 </td>
          <td class="maintext" style="text-align: center" >35A360 3.60 </td>
          <td class="maintext" style="text-align: center" >36F205 4.52 </td>
          <td class="maintext" style="text-align: center" >&nbsp;</td>
        </tr>
        <tr class="maintext" style="text-align: center" >
          <td class="maintext" style="text-align: center" >35PM440 4.40 </td>
          <td class="maintext" style="text-align: center" >35A440 4.40 </td>
          <td class="maintext" style="text-align: center" >&nbsp;</td>
          <td class="maintext" style="text-align: center" >&nbsp;</td>
        </tr>
        <tr class="maintext" style="text-align: center" >
          <td rowspan="13"><div align="center"><br>
              <br>
              <br>
              <br>
              <br>
              0.50 <br>
          (0.0197) </div></td>
          <td class="maintext" style="text-align: center" >&nbsp;</td>
          <td class="maintext" style="text-align: center" >50A230 2.30 </td>
          <td class="maintext" style="text-align: center" >&nbsp;</td>
          <td class="maintext" style="text-align: center" >&nbsp;</td>
        </tr>
        <tr class="maintext" style="text-align: center" >
          <td class="maintext" style="text-align: center" >50PN250 2.50 </td>
          <td class="maintext" style="text-align: center" >50A250 2.50 </td>
          <td class="maintext" style="text-align: center" >&nbsp;</td>
          <td class="maintext" style="text-align: center" >M250-50A 2.50 </td>
        </tr>
        <tr class="maintext" style="text-align: center" >
          <td class="maintext" style="text-align: center" >50PN270 2.70</td>
          <td class="maintext" style="text-align: center" >50A270 2.70 </td>
          <td class="maintext" style="text-align: center" >&nbsp;</td>
          <td class="maintext" style="text-align: center" >M270-50A 2.70 </td>
        </tr>
        <tr class="maintext" style="text-align: center" >
          <td class="maintext" style="text-align: center" >50PN290 2.90</td>
          <td class="maintext" style="text-align: center" >50A290 2.90 </td>
          <td class="maintext" style="text-align: center" >47F165 3.64 </td>
          <td class="maintext" style="text-align: center" >M290-50A 2.90</td>
        </tr>
        <tr class="maintext" style="text-align: center" >
          <td class="maintext" style="text-align: center" >50PN310 3.10</td>
          <td class="maintext" style="text-align: center" >50A310 3.10 </td>
          <td class="maintext" style="text-align: center" >47F180 3.97 </td>
          <td class="maintext" style="text-align: center" >M310-50A 3.10</td>
        </tr>
        <tr class="maintext" style="text-align: center" >
          <td class="maintext" style="text-align: center" >50PN350 3.50</td>
          <td class="maintext" style="text-align: center" >50A350 3.50 </td>
          <td class="maintext" style="text-align: center" >47F200 4.41 </td>
          <td class="maintext" style="text-align: center" >M350-50A 3.50</td>
        </tr>
        <tr class="maintext" style="text-align: center" >
          <td class="maintext" style="text-align: center" >50PN400 4.00</td>
          <td class="maintext" style="text-align: center" >50A400 4.00 </td>
          <td class="maintext" style="text-align: center" >47F210 4.63 </td>
          <td class="maintext" style="text-align: center" >M400-50A 4.00</td>
        </tr>
        <tr class="maintext" style="text-align: center" >
          <td class="maintext" style="text-align: center" >50PN470 4.70</td>
          <td class="maintext" style="text-align: center" >50A470 4.70 </td>
          <td class="maintext" style="text-align: center" >47F240 5.29 </td>
          <td class="maintext" style="text-align: center" >M470-50A 4.70</td>
        </tr>
        <tr class="maintext" style="text-align: center" >
          <td class="maintext" style="text-align: center" >50PN600 6.00</td>
          <td class="maintext" style="text-align: center" >50A600 6.00 </td>
          <td class="maintext" style="text-align: center" >&nbsp;</td>
          <td class="maintext" style="text-align: center" >M600-50A 6.00</td>
        </tr>
        <tr class="maintext" style="text-align: center" >
          <td class="maintext" style="text-align: center" >50PN700 7.00</td>
          <td class="maintext" style="text-align: center" >50A700 7.00 </td>
          <td class="maintext" style="text-align: center" >47F400 8.82 </td>
          <td class="maintext" style="text-align: center" >M700-50A 7.00</td>
        </tr>
        <tr class="maintext" style="text-align: center" >
          <td class="maintext" style="text-align: center" >50PN800 8.00</td>
          <td class="maintext" style="text-align: center" >50A800 8.00 </td>
          <td class="maintext" style="text-align: center" >47F450 9.92 </td>
          <td class="maintext" style="text-align: center" >M800-50A 8.30</td>
        </tr>
        <tr class="maintext" style="text-align: center" >
          <td class="maintext" style="text-align: center" >50PN1000 10.00</td>
          <td class="maintext" style="text-align: center" >50A1000 10.00</td>
          <td class="maintext" style="text-align: center" >&nbsp;</td>
          <td class="maintext" style="text-align: center" >M1000-50A 10.00 </td>
        </tr>
        <tr class="maintext" style="text-align: center" >
          <td class="maintext" style="text-align: center" >50PN1300 13.00</td>
          <td class="maintext" style="text-align: center" >50A1300 13.00 </td>
          <td class="maintext" style="text-align: center" >&nbsp;</td>
          <td class="maintext" style="text-align: center" >&nbsp;</td>
        </tr>
      </tbody></table>
                    <br></center>
    </ion-content>
</ion-view>