<ion-view view-title="World Of Steel">
	<ion-header-bar class="bar-subheader">
            <h4><center>Packaging Steel Conversion Chart</center></h4>
  	</ion-header-bar>
    <ion-content has-header="true" overflow-scrolling="true" padding="false" direction="xy" delegate-handle="mainScroll">
                <br><br><center>
            <table cellspacing="1" cellpadding="1" border="0"  class="maintext" style="background-color: rgb(153, 153, 153); width: 400px;">
<tbody>
<tr>
<td colspan="8" class="featured">HARDNESS COMPARISON </td>
</tr>
<tr  class="maintext">

<td colspan="8"><span style="font-weight: bold;">(Based
on ASTM A623)</span> </td>

</tr>

<tr align="center">

<td width="20%" style="text-align: center;"  class="maintext">Designation </td>

<td width="10%" style="text-align: center;"  class="maintext">T-1 </td>

<td width="12%" style="text-align: center;"  class="maintext">T-2 </td>

<td width="10%" style="text-align: center;"  class="maintext">T-3 </td>

<td width="13%" style="text-align: center;"  class="maintext">T-4 </td>

<td width="13%" style="text-align: center;"  class="maintext">T-5 </td>

<td width="10%" style="text-align: center;"  class="maintext">DR-8 </td>

<td width="12%" style="text-align: center;"  class="maintext">DR-9 </td>

</tr>

<tr align="center">

<td style="width: 20%; text-align: center;"  class="maintext">Aim
Rockwell Range (30-T Scale)</td>

<td width="10%" style="text-align: center;"  class="maintext"><br>

46-52 </td>

<td width="12%" style="text-align: center;"  class="maintext"><br>

50-56 </td>

<td width="10%" style="text-align: center;"  class="maintext"><br>

54-60 </td>

<td style="width: 13%; text-align: center;"  class="maintext"><br>

58-64 </td>

<td width="13%" style="text-align: center;"  class="maintext"><br>

62-68 </td>

<td width="10%" style="text-align: center;"  class="maintext"><br>

73 </td>

<td width="12%" style="text-align: center;"  class="maintext"> <br>

76 </td>

</tr>

</tbody>
</table>


<br><br>

<table cellspacing="1" cellpadding="1" border="0"  style="background-color: rgb(153, 153, 153); width: 700px;">

        <tbody>

          <tr>

            <td rowspan="1" colspan="7" class="featured">TEMPER CLASSIFICATION</td>

          </tr>

          <tr style="text-align: center;" class="maintext">
              <td style="text-align: center;" class="maintext">name</td><td style="text-align: center;">ASTM</td><td style="text-align: center;">annealing</td><td style="text-align: center;" class="maintext"colspan="2">Temper</td><td style="text-align: center;" class="maintext">hardness</td><td style="text-align: center;">Remarks</td>
</tr>
<tr style="text-align: center;" class="maintext">
<td style="text-align: center;" class="maintext">T50</td><td style="text-align: center;">T1</td>
<td style="text-align: center;" class="maintext">BA</td>
<td style="text-align: center;" class="maintext"width="50px" >TS230</td>
<td width="50px" style="text-align: center;" class="maintext">SR</td>
<td style="text-align: center;" class="maintext">50</td>
<td style="text-align: center;" class="maintext">-</td>
</tr>
<tr style="text-align: center;" class="maintext">
<td style="text-align: center;" class="maintext">-</td>
<td style="text-align: center;" class="maintext"></td>
<td style="text-align: center;" class="maintext">CA</td>
<td style="text-align: center;" class="maintext">CS230</td>
<td style="text-align: center;" class="maintext">SR</td>
<td style="text-align: center;" class="maintext">48</td>
<td style="text-align: center;" class="maintext">-</td>
</tr>
<tr style="text-align: center;" class="maintext">
<td style="text-align: center;" class="maintext">T52</td>
<td style="text-align: center;" class="maintext">T2</td>
<td style="text-align: center;" class="maintext">BA</td>
<td style="text-align: center;" class="maintext">TS245</td>
<td style="text-align: center;" class="maintext">SR</td>
<td style="text-align: center;" class="maintext">52</td>
<td style="text-align: center;" class="maintext">-</td>
</tr>
<tr style="text-align: center;" class="maintext">
<td style="text-align: center;" class="maintext">T55</td>
<td style="text-align: center;" class="maintext">T2.5</td>
<td style="text-align: center;" class="maintext">BA</td>
<td style="text-align: center;" class="maintext">TS260</td>
<td style="text-align: center;" class="maintext">SR</td>
<td style="text-align: center;" class="maintext">55</td>
<td style="text-align: center;" class="maintext">-</td>
</tr>
<tr style="text-align: center;" class="maintext">
<td style="text-align: center;" class="maintext">T57</td>
<td style="text-align: center;" class="maintext">T3</td>
<td style="text-align: center;" class="maintext">BA</td>
<td style="text-align: center;" class="maintext">TS275</td>
<td style="text-align: center;" class="maintext">SR</td>
<td style="text-align: center;" class="maintext">57</td>
<td style="text-align: center;" class="maintext">-</td>
</tr>
<tr style="text-align: center;" class="maintext">
<td style="text-align: center;" class="maintext">-</td>
<td style="text-align: center;" class="maintext"></td>
<td style="text-align: center;" class="maintext">CA</td>
<td style="text-align: center;" class="maintext">CS300</td>
<td style="text-align: center;" class="maintext">SR</td>
<td style="text-align: center;" class="maintext">49</td>
<td style="text-align: center;" class="maintext">Create Steel for lids OF</td>
</tr>
<tr style="text-align: center;" class="maintext">
<td style="text-align: center;" class="maintext">T59</td>
<td style="text-align: center;" class="maintext">T3.5</td>
<td style="text-align: center;" class="maintext">BA</td>
<td style="text-align: center;" class="maintext">TS290</td>
<td style="text-align: center;" class="maintext">SR</td>
<td style="text-align: center;" class="maintext">59</td>
<td style="text-align: center;" class="maintext">T59 = T61 = TS290 according to standard</td>
</tr>
<tr style="text-align: center;" class="maintext">
<td style="text-align: center;" class="maintext">T61</td>
<td style="text-align: center;" class="maintext">T4</td>
<td style="text-align: center;" class="maintext">BA</td>
<td style="text-align: center;" class="maintext">TS290</td>
<td style="text-align: center;" class="maintext">SR</td>
<td style="text-align: center;" class="maintext">61</td>
<td style="text-align: center;" class="maintext">T59 = T61 = TS290 according to standard</td>
</tr>
<tr style="text-align: center;" class="maintext">
<td style="text-align: center;" class="maintext">T61</td>
<td style="text-align: center;" class="maintext">T4</td>
<td style="text-align: center;" class="maintext">CA</td>
<td style="text-align: center;" class="maintext">TH415</td>
<td style="text-align: center;" class="maintext">SR</td>
<td style="text-align: center;" class="maintext">61</td>
<td style="text-align: center;" class="maintext">-</td>
</tr>
<tr style="text-align: center;" class="maintext">
<td style="text-align: center;" class="maintext">T65</td>
<td style="text-align: center;" class="maintext">T5</td>
<td style="text-align: center;" class="maintext">CA</td>
<td style="text-align: center;" class="maintext">TH435</td>
<td style="text-align: center;" class="maintext">SR</td>
<td style="text-align: center;" class="maintext">65</td>
<td style="text-align: center;" class="maintext">-</td>
</tr>
<tr style="text-align: center;" class="maintext">
<td style="text-align: center;" class="maintext">T67</td>
<td style="text-align: center;" class="maintext">T5</td>
<td style="text-align: center;" class="maintext">CA</td>
<td style="text-align: center;" class="maintext">TH460</td>
<td style="text-align: center;" class="maintext">SR</td>
<td style="text-align: center;" class="maintext">67</td>
<td style="text-align: center;" class="maintext">-</td>
</tr>
<tr style="text-align: center;" class="maintext">
<td style="text-align: center;" class="maintext">T70 DR480</td>
<td style="text-align: center;" class="maintext">T6</td>
<td style="text-align: center;" class="maintext">BA</td>
<td style="text-align: center;" class="maintext">TS480</td>
<td style="text-align: center;" class="maintext">SR</td>
<td style="text-align: center;" class="maintext">70</td>
<td style="text-align: center;" class="maintext">-</td>
</tr>
<tr style="text-align: center;" class="maintext">
<td style="text-align: center;" class="maintext">T70 DR480</td>
<td style="text-align: center;" class="maintext">T6</td>
<td style="text-align: center;" class="maintext">CA</td>
<td style="text-align: center;" class="maintext">TH480</td>
<td style="text-align: center;" class="maintext">SR</td>
<td style="text-align: center;" class="maintext">70</td>
<td style="text-align: center;" class="maintext">-</td>
</tr>
<tr style="text-align: center;" class="maintext">
<td style="text-align: center;" class="maintext">.DR520</td>
<td style="text-align: center;" class="maintext">DR7.5</td>
<td style="text-align: center;" class="maintext">BA</td>
<td style="text-align: center;" class="maintext">TS520</td>
<td style="text-align: center;" class="maintext">DR</td>
<td style="text-align: center;" class="maintext">71</td>
<td style="text-align: center;" class="maintext">-</td>
</tr>
<tr style="text-align: center;" class="maintext">
<td style="text-align: center;" class="maintext">.DR520</td>
<td style="text-align: center;" class="maintext">DR7.5</td>
<td style="text-align: center;" class="maintext">CA</td>
<td style="text-align: center;" class="maintext">TH520</td>
<td style="text-align: center;" class="maintext">DR</td>
<td style="text-align: center;" class="maintext">71</td>
<td style="text-align: center;" class="maintext">-</td>
</tr>
<tr style="text-align: center;" class="maintext">
<td style="text-align: center;" class="maintext">DR550</td>
<td style="text-align: center;" class="maintext">DR8</td>
<td style="text-align: center;" class="maintext">BA</td>
<td style="text-align: center;" class="maintext">TS550</td>
<td style="text-align: center;" class="maintext">DR</td>
<td style="text-align: center;" class="maintext">72</td>
<td style="text-align: center;" class="maintext">-</td>
</tr>
<tr style="text-align: center;" class="maintext">
<td style="text-align: center;" class="maintext">DR550</td>
<td style="text-align: center;" class="maintext">DR8</td>
<td style="text-align: center;" class="maintext">CA</td>
<td style="text-align: center;" class="maintext">TH550</td>
<td style="text-align: center;" class="maintext">DR</td>
<td style="text-align: center;" class="maintext">72</td>
<td style="text-align: center;" class="maintext">ML550 (Maleis) if lids OF</td>
</tr>
<tr style="text-align: center;" class="maintext">
<td style="text-align: center;" class="maintext">DR580</td>
<td style="text-align: center;" class="maintext">DR8.5</td>
<td style="text-align: center;" class="maintext">CA</td>
<td style="text-align: center;" class="maintext">TH580</td>
<td style="text-align: center;" class="maintext">DR</td>
<td style="text-align: center;" class="maintext">73</td>
<td style="text-align: center;" class="maintext">-</td>
</tr>
<tr style="text-align: center;" class="maintext">
<td style="text-align: center;" class="maintext">DR620</td>
<td style="text-align: center;" class="maintext">DR9</td>
<td style="text-align: center;" class="maintext">CA</td>
<td style="text-align: center;" class="maintext">TH620</td>
<td style="text-align: center;" class="maintext">DR</td>
<td style="text-align: center;" class="maintext">74</td>
<td style="text-align: center;" class="maintext">-</td>
</tr>

        </tbody>
      </table>

	  <br><br>


	  <table cellspacing="1" cellpadding="1" border="0"  class="maintext" style="background-color: rgb(153, 153, 153); width: 400px;">
        <tbody>
          <tr>
            <td colspan="2" class="featured">FINISH</td>
          </tr>
          <tr  class="maintext">
            <td colspan="2"><b>(Based on ASTM STANDARDS)</b> </td>
          </tr>
          <tr>
            <td  class="maintext" style="text-align: center;">7B</td>
            <td  class="maintext" style="text-align: center;">BRIGHT</td>
            </tr>
          <tr>
            <td  class="maintext" style="text-align: center;"><div align="center">7C</div></td>
            <td  class="maintext" style="text-align: center;"><div align="center">STONE</div></td>
            </tr>
          <tr>
            <td  class="maintext" style="text-align: center;"><div align="center">5C</div></td>
            <td  class="maintext" style="text-align: center;"><div align="center">SILVER</div></td>
            </tr>
          <tr>
            <td  class="maintext" style="text-align: center;"><div align="center">5C /5D </div></td>
            <td  class="maintext" style="text-align: center;"><div align="center">MATTE</div></td>
            </tr>
        </tbody>
      </table>

	  <br><br>

	  <table cellspacing="1" cellpadding="1" border="0"  class="maintext" style="background-color: rgb(153, 153, 153); width: 400px;">

        <tbody style="background-color: rgb(255, 255, 204);">

          <tr>

            <td colspan="3" class="featured">DECIMAL
EQUIVALENTS </td>

          </tr>

          <tr>

            <td  class="maintext" style="text-align: center;">Fraction
            </td>

            <td  class="maintext" style="text-align: center;">Decimal
            </td>

            <td  class="maintext" style="text-align: center;">Millimeter
            </td>

          </tr>

          <tr>

            <td  class="maintext" style="text-align: center;">1/16
            </td>

            <td  class="maintext" style="text-align: center;">0.0625
            </td>

            <td  class="maintext" style="text-align: center;">1.5875
            </td>

          </tr>

          <tr>

            <td  class="maintext" style="text-align: center;">1/8
            </td>

            <td  class="maintext" style="text-align: center;">
0.1250 </td>

            <td  class="maintext" style="text-align: center;">3.1750
            </td>

          </tr>

          <tr>

            <td  class="maintext" style="text-align: center;">3/16
            </td>

            <td  class="maintext" style="text-align: center;">0.1875
            </td>

            <td  class="maintext" style="text-align: center;">4.7625
            </td>

          </tr>

          <tr>

            <td  class="maintext" style="text-align: center;">1/4
            </td>

            <td  class="maintext" style="text-align: center;">0.2500
            </td>

            <td  class="maintext" style="text-align: center;">6.3500
            </td>

          </tr>

          <tr>

            <td  class="maintext" style="text-align: center;">5/16
            </td>

            <td  class="maintext" style="text-align: center;">0.3125
            </td>

            <td  class="maintext" style="text-align: center;">7.9375
            </td>

          </tr>

          <tr>

            <td  class="maintext" style="text-align: center;">3/8
            </td>

            <td  class="maintext" style="text-align: center;">0.3750
            </td>

            <td  class="maintext" style="text-align: center;">9.5250
            </td>

          </tr>

          <tr>

            <td  class="maintext" style="text-align: center;">7/16
            </td>

            <td  class="maintext" style="text-align: center;">0.4375
            </td>

            <td  class="maintext" style="text-align: center;">11.1125
            </td>

          </tr>

          <tr>

            <td  class="maintext" style="text-align: center;">1/2
            </td>

            <td  class="maintext" style="text-align: center;">0.5000
            </td>

            <td  class="maintext" style="text-align: center;">12.7000
            </td>

          </tr>

          <tr>

            <td  class="maintext" style="text-align: center;">
9/16 </td>

            <td  class="maintext" style="text-align: center;">0.5625
            </td>

            <td  class="maintext" style="text-align: center;">14.2875
            </td>

          </tr>

          <tr>

            <td  class="maintext" style="text-align: center;">5/8
            </td>

            <td  class="maintext" style="text-align: center;">0.6250
            </td>

            <td  class="maintext" style="text-align: center;">15.8750
            </td>

          </tr>

          <tr>

            <td  class="maintext" style="text-align: center;">11/16
            </td>

            <td  class="maintext" style="text-align: center;">0.6875
            </td>

            <td  class="maintext" style="text-align: center;">17.4625
            </td>

          </tr>

          <tr>

            <td  class="maintext" style="text-align: center;">3/4
            </td>

            <td  class="maintext" style="text-align: center;">0.7500
            </td>

            <td  class="maintext" style="text-align: center;">19.0500
            </td>

          </tr>

          <tr>

            <td  class="maintext" style="text-align: center;">13/16
            </td>

            <td  class="maintext" style="text-align: center;">0.8125
            </td>

            <td  class="maintext" style="text-align: center;">20.6375
            </td>

          </tr>

          <tr>

            <td  class="maintext" style="text-align: center;">7/8
            </td>

            <td  class="maintext" style="text-align: center;">0.8750
            </td>

            <td  class="maintext" style="text-align: center;">22.2250
            </td>

          </tr>

          <tr>

            <td  class="maintext" style="text-align: center;">15/16
            </td>

            <td  class="maintext" style="text-align: center;">0.9375
            </td>

            <td  class="maintext" style="text-align: center;">23.8125
            </td>

          </tr>

          <tr>

            <td  class="maintext" style="text-align: center;">1
            </td>

            <td  class="maintext" style="text-align: center;">
1.0000 </td>

            <td  class="maintext" style="text-align: center;">25.4000
            </td>

          </tr>

        </tbody>
      </table>
          <br></center>
    </ion-content>
</ion-view>
