<ion-view view-title="World Of Steel">
	<ion-header-bar class="bar-subheader">
            <h4><center>Raw Materials Grades</center></h4>
  	</ion-header-bar>
    <ion-content has-header="true" overflow-scrolling="true" padding="false" direction="xy" delegate-handle="mainScroll">
                <br><br>
                <center>
                    <br>
                    <table cellspacing="1" cellpadding="1" border="0" style="text-align: left; background-color: rgb(153, 153, 153); width: 1000px;">
        <tbody>
          <tr>
            <td class="featured">Standard No.</td>

            <td class="featured">Definition</td>

            <td class="featured">Standard No.</td>

            <td class="featured">Definition</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS G2201</td>

            <td class="maintext" style="text-align: center">Pig iron for steel making</td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS G2202</td>

            <td class="maintext" style="text-align: center">Foundry pig iron</td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>


          </tr>


          <tr>


            <td class="maintext" style="text-align: center">JIS G2301</td>


            <td class="maintext" style="text-align: center">Ferromanganse</td>


            <td class="maintext" style="text-align: center">ASTM A99-82</td>


            <td class="maintext" style="text-align: center">Spec. for ferromanganese</td>


          </tr>


          <tr>


            <td class="maintext" style="text-align: center">JIS G2302</td>


            <td class="maintext" style="text-align: center">Ferrosilicon</td>


            <td class="maintext" style="text-align: center">ASTM A100-80</td>


            <td class="maintext" style="text-align: center">Spec. for ferrosilicon</td>


          </tr>


          <tr>


            <td class="maintext" style="text-align: center">JIS G2303</td>


            <td class="maintext" style="text-align: center">Ferrochromium</td>


            <td class="maintext" style="text-align: center">ASTM A101-80</td>


            <td class="maintext" style="text-align: center">Spec. for ferrochromium</td>


          </tr>


          <tr>


            <td class="maintext" style="text-align: center">JIS G2304</td>


            <td class="maintext" style="text-align: center">Silicon-manganese</td>


            <td class="maintext" style="text-align: center">ASTM A483-64</td>


            <td class="maintext" style="text-align: center">Spec. for
silicon-manganese</td>


          </tr>


          <tr>


            <td class="maintext" style="text-align: center">JIS G2306</td>


            <td class="maintext" style="text-align: center">Ferrotungsten</td>


            <td class="maintext" style="text-align: center">ASTM A144-73</td>


            <td class="maintext" style="text-align: center">Spec. for ferrotungsten</td>


          </tr>


          <tr>


            <td class="maintext" style="text-align: center">JIS G2307</td>


            <td class="maintext" style="text-align: center">Ferromolybdenum</td>


            <td class="maintext" style="text-align: center">ASTM A132-89</td>


            <td class="maintext" style="text-align: center">Spec. for ferromolybdenum</td>


          </tr>


          <tr>


            <td class="maintext" style="text-align: center">JIS G2308</td>


            <td class="maintext" style="text-align: center">Ferrovanadium</td>


            <td class="maintext" style="text-align: center">ASTM<br>


A102-92</td>


            <td class="maintext" style="text-align: center">Spec. for ferrovanadium</td>


          </tr>


          <tr>


            <td class="maintext" style="text-align: center">JIS G2309</td>


            <td class="maintext" style="text-align: center">Ferrotitanium</td>


            <td class="maintext" style="text-align: center">ASTM A324-73</td>


            <td class="maintext" style="text-align: center">Spec. for ferrotitanium</td>


          </tr>


          <tr>


            <td class="maintext" style="text-align: center">JIS G2310</td>


            <td class="maintext" style="text-align: center">Ferrophosphorus</td>


            <td class="maintext" style="text-align: center"></td>


            <td class="maintext" style="text-align: center"></td>


          </tr>


          <tr>


            <td class="maintext" style="text-align: center">JIS G2311</td>


            <td class="maintext" style="text-align: center">Manganese metal</td>


            <td class="maintext" style="text-align: center">ASTM A601-69</td>


            <td valign="undefined" align="undefined" class="maintext" style="text-align: center">Spec. for electrolytic manganese metal</td>


          </tr>


          <tr>


            <td class="maintext" style="text-align: center">JIS G2312</td>


            <td class="maintext" style="text-align: center">Silicon metal</td>


            <td class="maintext" style="text-align: center"></td>


            <td class="maintext" style="text-align: center"></td>


          </tr>


          <tr>


            <td class="maintext" style="text-align: center">JIS G2313</td>


            <td class="maintext" style="text-align: center">Chromium metal</td>


            <td class="maintext" style="text-align: center">ASTM A481-73</td>


            <td class="maintext" style="text-align: center">Spec. for chrome metal</td>


          </tr>


          <tr>


            <td class="maintext" style="text-align: center">JIS G2314</td>


            <td class="maintext" style="text-align: center">Calcium silicon</td>


            <td class="maintext" style="text-align: center">ASTM A495-76</td>


            <td class="maintext" style="text-align: center">Spec. for calcium-silicon
and calcium
manganese-silicon</td>


          </tr>


          <tr>


            <td class="maintext" style="text-align: center">JIS G2315</td>


            <td class="maintext" style="text-align: center">Silicon-chromium</td>


            <td valign="undefined" align="undefined" class="maintext" style="text-align: center">ASTM A482-76</td>


            <td valign="undefined" align="undefined" class="maintext" style="text-align: center">Spec. for ferrochrome-silicon</td>


          </tr>


          <tr>


            <td class="maintext" style="text-align: center">JIS G2316</td>


            <td class="maintext" style="text-align: center">Ferronickel</td>


            <td class="maintext" style="text-align: center"></td>


            <td class="maintext" style="text-align: center"></td>


          </tr>


          <tr>


            <td class="maintext" style="text-align: center">JIS G2318</td>


            <td class="maintext" style="text-align: center">Ferroboron</td>


            <td class="maintext" style="text-align: center">ASTM A323-76</td>


            <td class="maintext" style="text-align: center">Spec. for ferroboron</td>


          </tr>


          <tr>


            <td class="maintext" style="text-align: center">JIS G2319</td>


            <td class="maintext" style="text-align: center">Ferroniobium</td>


            <td class="maintext" style="text-align: center">ASTM A550-78</td>


            <td class="maintext" style="text-align: center">Spec. for ferrocolumbium</td>


          </tr>



        </tbody>

      </table>
                    <br></center>
    </ion-content>
</ion-view>