<ion-view view-title="World Of Steel">
	<ion-header-bar class="bar-subheader">
            <h4><center>Steel Plates and Sheets Grades</center></h4>
  	</ion-header-bar>
    <ion-content has-header="true" overflow-scrolling="true" padding="false" direction="xy" delegate-handle="mainScroll">
                <br><br>
                <center>
                    <br>
                   <table cellspacing="1" cellpadding="1" border="0" style="text-align: left; background-color: rgb(153, 153, 153); width: 1000px;">

        <tbody>

          <tr>

            <td class="featured" style="text-align: center">Standard No.</td>

            <td class="featured" style="text-align: center">Definition</td>

            <td class="featured" style="text-align: center">Standard No.</td>

            <td class="featured" style="text-align: center">Definition</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">JIS G 3131</td>

            <td rowspan="1" colspan="1" class="maintext" style="text-align: center">Hot-rolled mild
steel plate, sheet and strip</td>

            <td class="maintext" style="text-align: center">ASTM
A 569/<br>

A 569 M-91</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Spec. for steel
carbon (0.15 maximum percent) hot-rolled sheet and strip, commercial
quality </td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" style="text-align: left;" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center">ASTM
A 621/<br>

A 621 M-91</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Spec. for steel
sheet and strip, carbon, hot-rolled, drawing quality</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center">ASTM
A 622/<br>

A 622 M-91</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Spec. for steel
sheet and strip, carbon, hot-rolled, drawing quality, special killed</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center">BS
1449/1</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Carbon and
carbon-manganese plate, sheet and strip</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" style="text-align: center;">SEC
1.2:91</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Spec. for hot
rolled steel plate, sheet and wide strip based on formability</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" style="text-align: center;">1.4:91</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Spec. for hot
rolled wide material based on specified minimum strength</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" style="text-align: center;">1.8:91</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Spec. for hot
rolled narrow strip based on formability</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" style="text-align: center;">1.10:91</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Spec. for hot
rolled narrow strip based on specified minimum strength</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" style="text-align: center;">1.14:91</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Spec. for
hot-rolled narrow strip supplied in a range of conditions for heat
treatment and general engineering purpose</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
EN 10051:92</td>

            <td class="maintext" style="text-align: center">Continuously
hot-rolled uncoated plate, sheet and strip of non-alloy and alloy steels</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
1614/1-86</td>

            <td class="maintext" style="text-align: center">Flat
products of steel; Hot-rolled strip and sheet of mild unalloyed steels;
quality specifications</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center">DIN
1016-87</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Hot rolled
strip and sheet</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> DIN
EN 10051 : 92</td>

            <td class="maintext" style="text-align: center">Continuously
hot-rollet uncoated plate, sheet and strip of non-alloy and alloy steels</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">NF A 36-102-87</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Hot rolled non
alloyed mild steel strip for processing</td>

          </tr>

          <tr>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">NF
A 36-301-92</td>

            <td class="maintext" style="text-align: center">Continuous
hot rolled strips. Plates and coils</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">NF
EN 10051 : 92</td>

            <td class="maintext" style="text-align: center">Continuously
hot-rolled uncoated plate, sheet and strip of non-alloy and alloy steels</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> ISO
3573-86</td>

            <td class="maintext" style="text-align: center">Hot-rolled
carbon steel sheet of commercial and drawing qualities</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">ISO 6317-82</td>

            <td class="maintext" style="text-align: center">Hot-rolled
carbon steel strip of commercial and drawing qualities</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">JIS G 3141</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Cold rolled
carbon steel sheets and strip</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">ASTM A109-91</td>

            <td class="maintext" style="text-align: center">Spec.
for cold-rolled carbon steel strip</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">ASTM A109 <br>

M-91</td>

            <td class="maintext" style="text-align: center">Spec.
for cold-rolled carbon steel strip (Metric series)</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A366/ A366 <br>

M-91</td>

            <td class="maintext" style="text-align: center">Spec.
for steel, Carbon, cold-rolled sheet, commercial quality</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">ASTM A619/ <br>

A619 M-91</td>

            <td class="maintext" style="text-align: center">Carbon
steel sheet, cold-rolled, drawing quality</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A 620/<br>

A 620 M-91</td>

            <td class="maintext" style="text-align: center">Carbon
steel sheet, cold-rlled, drawing quality, special killed</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center">BS
1449/1</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Carbon and
Carbon-manganese plate, sheet and strip</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center" style="text-align: center;">SEC1.3
:91</td>

            <td class="maintext" style="text-align: center">Spec.
for cold rolled steel plate, sheet and wide strip for vitreous
enameling based on formability.</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center" style="text-align: center;">1.5:
91</td>

            <td class="maintext" style="text-align: center">Spec.
for cold rolled wide material based on specified minimum strength</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center" style="text-align: center;">1.9:
91</td>

            <td class="maintext" style="text-align: center">Spec.
for cold rolled narrow strip based on formability</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center" style="text-align: center;">1.11:91</td>

            <td class="maintext" style="text-align: center">Spec.
for cold rolled narrow strip based on specified minimum strength</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center" style="text-align: center;">11.15:91</td>

            <td class="maintext" style="text-align: center">Spec.
for cold rolled narrow strip supplied in a range of conditions for heat
treatment and general engineering purposes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
EN 10130:91</td>

            <td class="maintext" style="text-align: center">Spec.
for cold rolled low carbon steel flat products for cold forming</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
EN 10130:92</td>

            <td class="maintext" style="text-align: center">Cold-rolled
uncoated low carbon and high yield strength flat products for cold
forming</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
1627-87</td>

            <td class="maintext" style="text-align: center">Cold-rolled
strip of soft unalloyed steels; quality specifications, in width not
exceeding 650 mm</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
EN 10130-91</td>

            <td class="maintext" style="text-align: center">Spec.
for cold rolled low carbon steel flat products for cold forming</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
EN 10131:92</td>

            <td class="maintext" style="text-align: center">Cold-rolled
uncoated low carbon and high yield strength steel flat products for
cold forming</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
1623/2-86</td>

            <td class="maintext" style="text-align: center">Cold
reduced sheet and strip: general purpose structural steels</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
1541-75</td>

            <td class="maintext" style="text-align: center">Flat
products of steel; cold-rolled wide mill strip and sheet of unalloyed
steels; dimensions, tolerances on dimensions and form</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
1544-75</td>

            <td class="maintext" style="text-align: center">Cold
rolled steel strip: Dimensions, permissible variations on Dimensions
and form</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">NF
EN 10130-91</td>

            <td class="maintext" style="text-align: center">Spec.
for cold rolled low carbon steel flat products for cold forming</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> NF
EN 10131-92</td>

            <td class="maintext" style="text-align: center">Cold-rolled
uncoated low carbon and high yield strength steel flat products for
cold forming</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> ISO
3574-86</td>

            <td class="maintext" style="text-align: center">Cold
reduced carbon steel sheet of commercial and drawing qualities</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
5954-84</td>

            <td class="maintext" style="text-align: center">Cold-reduced
carbon steel sheet to hardness requirements</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS
G 3133</td>

            <td class="maintext" style="text-align: center">Decarburized
steel sheets and strip for porcelain enameling</td>

            <td class="maintext" style="text-align: center">ASTM
A 424-91</td>

            <td class="maintext" style="text-align: center">Spec.
for steel for porcelain enamelling</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> ISO
5001-80</td>

            <td class="maintext" style="text-align: center">Cold-reduced
carbon steel sheet for vitreous enamelling</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
1623/3-87</td>

            <td class="maintext" style="text-align: center">Steel
flat products; cold reduced sheets and strip: mild unalloyed steels for
vitreous enamelling</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS
G 3302</td>

            <td class="maintext" style="text-align: center">Hot-dip
zinc-coated steel sheets and coils</td>

            <td class="maintext" style="text-align: center">ASTM
A361/ A361 M-85</td>

            <td class="maintext" style="text-align: center">Spec.
for steel sheets, zinc-coated (galvanized) by the hot-dip process for
roofing</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A446/<br>

A446 M-91</td>

            <td class="maintext" style="text-align: center">Spec.
for steel sheet, zinc-coated by the hot-dip process, physical quality</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A526/<br>

A526 M-90</td>

            <td class="maintext" style="text-align: center">Spec.
for steel sheet, zinc-coated (galvanized) by the hot-dip process,
commercial quality</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A527/<br>

A527 M-90</td>

            <td class="maintext" style="text-align: center">Spec.
for steel sheet, zinc-coated (galvanized) by the hot-dip process,
lock-forming quality</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A528/<br>

A528 M-90</td>

            <td class="maintext" style="text-align: center">Spec.
fo<br>

r steel sheet, zinc-coated (galvanized) by the hot-dip process, drawing
quality</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A642/<br>

A642 M-90</td>

            <td class="maintext" style="text-align: center">Spec.
for steel sheet, zinc-coated (galvanized) by the hot-dip process,
drawing quality, special killed</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
EN 10142-91</td>

            <td class="maintext" style="text-align: center">Spec.
for continuously hot-dip zinc coated low carbon steel sheet and strip
for cold forming</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
EN 10143-93</td>

            <td class="maintext" style="text-align: center">Continuously
hot-dip metal coated steel sheet and strip</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
EN 10147-92</td>

            <td class="maintext" style="text-align: center">Continuously
hot-dip zinc coated structural steel sheet and strip</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
3083-88</td>

            <td class="maintext" style="text-align: center">Hot-dip
zinc coated and hot-dip aluminium /zinc coated corrugated steel sheets
for general purposes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
EN 10142-91</td>

            <td class="maintext" style="text-align: center">Spec.
for continuously hot-dip zinc coated low carbon steel sheet and strip
for cold forming</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> DIN
EN 10143-93</td>

            <td class="maintext" style="text-align: center">Continuously
hot-dip metal coated steel sheet and strip</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
EN 10147-92</td>

            <td class="maintext" style="text-align: center">Spec.
for continuously hot-dip zinc-coated structural steel sheet and strip</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
59231-53</td>

            <td class="maintext" style="text-align: center">Corrugated
sheet, tile sheet, galvanized</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
59232-78</td>

            <td class="maintext" style="text-align: center">Flat
steel products, hot galvanized wide strip and sheet of mild unalloyed
steels and general structural steels</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> NF
EN 10142-92</td>

            <td class="maintext" style="text-align: center">Spec.
for continuously hot-dip zinc coated low carbon steel sheet and strip
for cold forming</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">NF
EN 10147-92</td>

            <td class="maintext" style="text-align: center">Continuously
hot-dip zinc coated structural steel sheet and strip</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> NF
A36-322-78</td>

            <td class="maintext" style="text-align: center">Continuous
hot-dip zinc-coated steel plates with required minimum yield stress
intended for cold forming</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
3575-76</td>

            <td class="maintext" style="text-align: center">Continuous
hot-dip zinc-coated carbon steel sheet of commercial, lock-forming and
drawing qualities</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
4998-91</td>

            <td class="maintext" style="text-align: center">Continuous
hot-dip zinc-coated carbon steel sheet of structural quality</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS
G 3317</td>

            <td class="maintext" style="text-align: center">Hot-dip
zinc-5% aluminum alloy-coated steel sheets and coils</td>

            <td class="maintext" style="text-align: center">ASTM
875/<br>

A875 M-88</td>

            <td class="maintext" style="text-align: center">Aluminum
alloy metallic-coated by the hot-dip process</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS
G 3312</td>

            <td class="maintext" style="text-align: center">Prepainted
hod-dip zinc-coated steel sheets and coils</td>

            <td class="maintext" style="text-align: center">ASTM
A755/<br>

A755 M-89</td>

            <td class="maintext" style="text-align: center">Spec.
for steel sheet zinc-coated (galvanized) by the hot-dip process and
coil-coated for roofing and siding, general requirements</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS
G 3318</td>

            <td class="maintext" style="text-align: center">Prepainted
hot-dip zinc -5% aluminium alloy-coated steel sheets and coils</td>

            <td class="maintext" style="text-align: center">ASTM
A755/<br>

A755 M-89</td>

            <td class="maintext" style="text-align: center">Spec.
for steel sheet, metallic coated by the hot-dip process and prepainted
by the coil-coating process for exterior exposed building products.</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS
G 3313</td>

            <td class="maintext" style="text-align: center">Electrolytic
zinc-coated steel sheet</td>

            <td class="maintext" style="text-align: center">ASTM
591/<br>

A591 M-89</td>

            <td class="maintext" style="text-align: center">Spec.
for electrolytic zinc-coated cold-rolled steel sheet</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">NF
A 36-160-79</td>

            <td class="maintext" style="text-align: center">Iron
and steel - Electrolytic zinc-coated plates-coating prescription</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
5002-82</td>

            <td class="maintext" style="text-align: center">Hot
rolled and cold-reduced electrolytic zinc-coated carbon steel sheet of
commercial and drawing qualities</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS
G 3303</td>

            <td class="maintext" style="text-align: center">Tinplate
and Black-plate</td>

            <td class="maintext" style="text-align: center">ASTM
A624-90</td>

            <td class="maintext" style="text-align: center">Single-reduced
electrolytic tinplate</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A624 M-90</td>

            <td class="maintext" style="text-align: center">Spec.
for tin plate, single-reduced electrolytic (metric)</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A625-85</td>

            <td class="maintext" style="text-align: center">Single-reduced
black plate</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A625 M-85</td>

            <td class="maintext" style="text-align: center">Spec.
for tin mill products, black plate, single-reduced (Metric)</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A626-90</td>

            <td class="maintext" style="text-align: center">Spec.
for tin mill products, electrolytic tin plate, double-reduced</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A626 M-90</td>

            <td class="maintext" style="text-align: center">Spec
for tin mill products, electrolytic tin plate, double-reduced (Metric)</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A650/<br>

A 650 M-88</td>

            <td class="maintext" style="text-align: center">Spec.
for tin mill products, black plate, double-reduced</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
EN 10203-91</td>

            <td class="maintext" style="text-align: center">Spec.
for cold reduced electrolytic tinplate</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
EN 10205-92</td>

            <td class="maintext" style="text-align: center">Cold
reduced blackplate in coil form for the production of tinplate or
electrolytic chronium/ chronium oxide coated steel</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
EN 10203-91</td>

            <td class="maintext" style="text-align: center">Spec.
for cold reduced electrolytic tinplate</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
EN 10205-92</td>

            <td class="maintext" style="text-align: center">Spec.
for cold reduced blackplate in coil form for the production of tinplate
or electrolytic chromium/chromium oxide coated steel</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">NF
EN 10203-91</td>

            <td class="maintext" style="text-align: center">Spec.
for cold reduced electrolytic tinplate</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">NF EN 10205-92</td>

            <td class="maintext" style="text-align: center">Cold
reduced blackplate in coil form for the production of tinplate or
electrolytic chromium/chromium oxide coated steel</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
1111/1-83</td>

            <td class="maintext" style="text-align: center">Single
cold-reduced tinplate and single cold- reduced blackplate - Part I:
Sheet</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
1111/2-83</td>

            <td class="maintext" style="text-align: center">Single
cold-reduced tinplate and single cold-reduced blackplate - Part II:
Electrolytic tinplate coil and blackplate coil for subsequent cutting
into sheet form</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
4977/1-84</td>

            <td class="maintext" style="text-align: center">Double
cold-reduced electrolytic tinplate - Part I: Sheet</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
4977/2-88</td>

            <td class="maintext" style="text-align: center">Double
cold-reduced electrolytic tinplate - Part 2: Coil for subsequent
cutting into sheets</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
5950-91</td>

            <td class="maintext" style="text-align: center">Cryolite,
natural and artificial, and aluminum fluodide for industrial use -
Determination of phosphorus content - Reduced molybdophsphate
photometric method</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS
G 3314</td>

            <td class="maintext" style="text-align: center">Hot-dip
aluminum coated steel sheets</td>

            <td class="maintext" style="text-align: center">ASTM
A463-88</td>

            <td class="maintext" style="text-align: center">Spec.
for cold-rolled, aluminum type I and type II, steel sheet</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
6830:87</td>

            <td class="maintext" style="text-align: center">Continuously
hot-dip aluminum/zinc alloy coated cold rolled carbon steel flat
products</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
5000-80</td>

            <td class="maintext" style="text-align: center">Continuously
hot-dip aluminum-silicon-coated cold-reduced carbon steel sheet of
commercial and drawing qualities</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS
G 3315</td>

            <td class="maintext" style="text-align: center">Chromium
Plated Tin Free Steel </td>

            <td class="maintext" style="text-align: center">ASTM
A657-87</td>

            <td class="maintext" style="text-align: center">Spec.
for tin mill products, black plates, electrolytic Cr-coated, single and
double reduced</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
EN 10202-90</td>

            <td class="maintext" style="text-align: center">Spec.
for cold reduced electrolytic chromium/chromium oxide coated steel </td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
EN
10202-90</td>

            <td class="maintext" style="text-align: center">Spec.
for cold reduced electrolytic chromium/chromium oxide coated steel</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">NF
EN 10202-89</td>

            <td class="maintext" style="text-align: center">Spec.
for cold reduced electrolytic chromium/chromium oxide coated steel</td>

          </tr>

        </tbody>
      </table>
                    <br></center>
    </ion-content>
</ion-view>