<ion-view view-title="World Of Steel">
	<ion-header-bar class="bar-subheader">
            <h4><center>Steel Pipes Grades</center></h4>
  	</ion-header-bar>
    <ion-content has-header="true" overflow-scrolling="true" padding="false" direction="xy" delegate-handle="mainScroll">
        <br>
                <center>
                    <br>
                   <table cellspacing="1" cellpadding="1" border="0" style="text-align: left; background-color: rgb(153, 153, 153); width: 1201px;">

        <tbody>

          <tr>

            <td class="featured" style="text-align: center">Standard No.</td>

            <td class="featured" style="text-align: center">Definition</td>

            <td class="featured" style="text-align: center">Standard No.</td>

            <td class="featured" style="text-align: center">Definition</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">JIS 

G 3452</td>

            <td rowspan="1" colspan="1" class="maintext" style="text-align: center">Carbon steel pipes
for ordinary piping</td>

            <td class="maintext" style="text-align: center">ASTM
A53-90 b</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Spec. for pipe,
steel, black and hot-dipped, zinc-coated welded and seamless</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center">API
5L-92</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Spec. for line
pipe</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center">BS
1387-90</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Steel tubes and
tubulars suitable for screwing to B.S. 21 pipe threads</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center">DIN
1615-84</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Welded circular
tubes of non-alloy steel without special quality requirements</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center">DIN
2440-78</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Steel tubes
medium weight type suitable for screwing</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" style="text-align: center;">DIN
2441-78</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Steel tubes,
heavy-weight suitable for screwing</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center">ISO
65-81</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Steel tubes
suitable for screwing in accordance with ISO 7</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center">ISO
559-91</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Welded or
seamless steel tubes for water, sewage and gas</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">JIS 

G 3454</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Carbon steel
pipe for pressure service</td>

            <td class="maintext" style="text-align: center">ASTM
A 135-89 a</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Spec. for
electric-resistance-welded steel pipe</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A 53-90 b</td>

            <td class="maintext" style="text-align: center">Spec.
for pipe, steel, black and hot-dipped, zinc-coated welded and seamless</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">API
5L-92</td>

            <td class="maintext" style="text-align: center">Spec.
for line pipe</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center">BS
3601-87</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Steel pipes and
tubes for pressure purposes. &nbsp;&nbsp;&nbsp;Carbons
steel: Ordinary duties</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
3602/1-87</td>

            <td class="maintext" style="text-align: center">Steel
pipes and tubes for pressure purpose. Carbon
steel: High duties</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">DIN 1626-84</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Welded circular
tubes of non-alloy steel with special quality requirements</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> DIN
1629-84</td>

            <td class="maintext" style="text-align: center">Seamless
circular tubes of non-alloy steel with special quality requirements</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
2442-63</td>

            <td class="maintext" style="text-align: center">Steel
tubes of specified quality suitable for screwing, nominal pressure 1 to
100 kg/cm<sup>2</sup></td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
2448-81</td>

            <td class="maintext" style="text-align: center">Seamless
steel tubes, dimensions and weights</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">ISO 2604/2-75</td>

            <td class="maintext" style="text-align: center">Steel
products for pressure purpose - quality requirements - Part II :
Wrought seamless tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">ISO 2604/3-75</td>

            <td class="maintext" style="text-align: center">Steel
products for pressure purpose - quality requirements - Part III:
Electric resistance and induction - welded tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">ISO 9329/I-89</td>

            <td class="maintext" style="text-align: center">Seamless
steel tubes for pressure purposes; Part I: Unalloyed steel with
specified room temperature properties</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
9330/I-90</td>

            <td class="maintext" style="text-align: center">Welded
steel tubes for pressure purposes - Technical delivery conditions -
Part 1: Unalloyed steel tubes with specified room temperature properties</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">JIS 

G 3455</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Carbon steel
pipes for high pressure service</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">BS 778-66</td>

            <td class="maintext" style="text-align: center">Steel
pipes and joints for hydraulic purposes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> DIN
1628-84</td>

            <td class="maintext" style="text-align: center">Welded
circular tubes of non-alloy steels with very high quality requirements</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1"></td>

            <td class="maintext" style="text-align: center">DIN
1630-84</td>

            <td class="maintext" style="text-align: center" rowspan="1" colspan="1">Seamless
circular tubes of non-alloy steels with very high quality requirements</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO 2604/2-75</td>

            <td class="maintext" style="text-align: center">Steel
products for pressure purposes - quality requirement - Part II: Wrought
seamless tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
9329/I-89</td>

            <td class="maintext" style="text-align: center">Seamless
steel tubes for pressure purposes; Part I: Unalloyed steel with
specified room temperature properties</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS 

G 3456</td>

            <td class="maintext" style="text-align: center">Carbon
steel pipes for high-temperature service</td>

            <td class="maintext" style="text-align: center">ASTM
A 106-91</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless carbon-steel pipe for high-temperature service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17175-79</td>

            <td class="maintext" style="text-align: center">Seamless
tubes of high-temperature steels; technical conditions of delivery</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17177-79</td>

            <td class="maintext" style="text-align: center">Electrically
resistance of induction welded steel tubes for elevated temperatures;
technical terms of delivery</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
3602/1-87</td>

            <td class="maintext" style="text-align: center">Steel
pipes and tubes for pressure purposes; carbon and carbon manganese
steel with specified elevated temperature properties - Part I ;
Seamless, electric resistance welded and induction welded tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
2604/2-75</td>

            <td class="maintext" style="text-align: center">Steel
products for pressure purposes - quality requirements - Part II:
Wrought seamless tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
2604/3-75</td>

            <td class="maintext" style="text-align: center">Steel
products for pressure purposes - quality requirements- Part III:
Electric resistance and inductance - welded tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS 

G 3457</td>

            <td class="maintext" style="text-align: center">Arc
welded carbon steel pipes</td>

            <td class="maintext" style="text-align: center">ASTM
A 134-90</td>

            <td class="maintext" style="text-align: center">Spec.
for electric-fusion (arc)-welded steel plate pipe (sizes in 16 in. and
over)</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A 139/

A139 M-90</td>

            <td class="maintext" style="text-align: center">Spec.
for electric fusion (arc)-welded steel pipe (NPS in 4 in. and over)</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A 211-75</td>

            <td class="maintext" style="text-align: center">Spec.
for spiral-welded steel or iron pipe</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
1626-84</td>

            <td class="maintext" style="text-align: center">Welded
circular tubes of non-alloy steels with special quality requirements</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
559-91</td>

            <td class="maintext" style="text-align: center">Welded
or seamless steel tubes for water, sewage and gas</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS 

G 3458</td>

            <td class="maintext" style="text-align: center">Alloy
steel pipes</td>

            <td class="maintext" style="text-align: center">ASTM
A335/

A335 M-92a</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless ferritic alloy steel pipe for high-temperature service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
3604/1-90</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless and electric resistance welded tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17175-79</td>

            <td class="maintext" style="text-align: center">Seamless
tubes of high-temperature steels; technical conditions of delivery</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17177-79</td>

            <td class="maintext" style="text-align: center">Electrically
resistance of induction welded steel tubes for elevated temperature;
technical terms of delivery</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
2604/2-75</td>

            <td class="maintext" style="text-align: center">Steel
products for pressure purposes - quality requirements - Part II:
Wrought seamless tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
2604/3-75</td>

            <td class="maintext" style="text-align: center">Steel
products for pressure purposes - quality requirements - Part III:
Electric resistance and induction - welded tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A312/

A312 M-92a</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless and welded austenitic stainless steel pipe</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A358/

A358 M-92</td>

            <td class="maintext" style="text-align: center">Spec.
for electric-fusion-welded austenitic chromium-nickel alloy steel pipe
for high-temperature service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A376/

A376 M-91</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless austenitic steel pipe for high-temperature central-station
service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A790/

A790 M-91</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless and welded ferritic/austenitic stainless steel pipe</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
3605-92</td>

            <td class="maintext" style="text-align: center">Steel
pipes and tubes for pressure purposes. Austenitic stainless steel</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17455-85</td>

            <td class="maintext" style="text-align: center">Welded
circular tubes of stainless steels for general requirements</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17456-85</td>

            <td class="maintext" style="text-align: center">Seamless
circular tubes of stainless steels for general requirements</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17457-85</td>

            <td class="maintext" style="text-align: center">Welded
circular tubes of austenitic stainless steels for special requirements</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17458-85</td>

            <td class="maintext" style="text-align: center">Seamless
circular tubes of austenitic stainless steels for special requirements</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS 

G 3460</td>

            <td class="maintext" style="text-align: center">Steel
pipes for low temperature service</td>

            <td class="maintext" style="text-align: center">ASTM
A333/

A333 M-91 a</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless and welded steel pipe for low temperature service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> BS
3603-91</td>

            <td class="maintext" style="text-align: center">Steel
pipes and tubes for pressure purposes, carbon and alloy steel: low
temperature duties</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17174-85</td>

            <td class="maintext" style="text-align: center">Welded
steel tubes for low temperature</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17173-85</td>

            <td class="maintext" style="text-align: center">Seamless
steel tubes for low temperatures</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
2604/2-75</td>

            <td class="maintext" style="text-align: center">Steel
products for pressure purposes - quality requirements - Part II:
Wrought seamless tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> ISO
2604/3-75</td>

            <td class="maintext" style="text-align: center">Steel
products for pressure purposes - quality requirements - Part III:
Electric resistance and induction - Welded tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS 

G 3468</td>

            <td class="maintext" style="text-align: center">Arc
welded large diameter stainless steel pipes</td>

            <td class="maintext" style="text-align: center">ASTM
A358/

A358 M-92</td>

            <td class="maintext" style="text-align: center">Spec.
for electric-fusion-welded austenitic chromium-nickel alloy steel pipe
for high-temperature service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A409/

A409 M-92</td>

            <td class="maintext" style="text-align: center">Spec.for
welded large outside diameter light-wall austenitic chromium-nickel
alloy steel pipe for corrosive or high-temperature service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
3605-92</td>

            <td class="maintext" style="text-align: center">Seamless
and welded austenitic stainless steel pipes and tubes for pressure
purposes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17455-85</td>

            <td class="maintext" style="text-align: center">Ditto</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17457-85</td>

            <td class="maintext" style="text-align: center">Ditto</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
2604/5-78</td>

            <td class="maintext" style="text-align: center">Steel
products for pressure purposes - quality requirements. Part V:
Longitudinally welded austenitic stainless steel tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS 

G 3461</td>

            <td class="maintext" style="text-align: center">Carbon
steel coiler and heat exchanger tubes</td>

            <td class="maintext" style="text-align: center">ASTM
A178/

A178 M-90a</td>

            <td class="maintext" style="text-align: center">Spec.
for electric-resistance-welded carbon steel boiler tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> ASTM
A179/

A179 M-90a</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless cold-drawn low-carbon steel heat exchanger and condenser
tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A192/

A192 M-91</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless carbon steel boiler tubes for high pressure service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> ASTM
A210/

A210 M-91</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless medium-carbon steel boiler and superheater tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A214/

A214 M-90a</td>

            <td class="maintext" style="text-align: center">Spec.
for electric-resistance welded carbon steel heat-exchanger and
condenser tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A226/

A226 M-90a</td>

            <td class="maintext" style="text-align: center">Spec.
for electric-resistance-welded carbon steel boiler and super-heater
tubes for high-pressure service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
3059/1-87, /2-

90</td>

            <td class="maintext" style="text-align: center">Steel
boiler and superheater tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
3606-92</td>

            <td class="maintext" style="text-align: center">Steel
tubes for heat exchangers</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS 

G 3461</td>

            <td class="maintext" style="text-align: center">

            </td>

            <td class="maintext" style="text-align: center">DIN
17175-79</td>

            <td class="maintext" style="text-align: center">Seamless
steel tubes, for elevated temperature, technical terms of delivery</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> DIN
17177-79</td>

            <td class="maintext" style="text-align: center">Electrically
resistance of induction welded steel tubes for elevated temperature;
technical terms of delivery</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
2604/2-75</td>

            <td class="maintext" style="text-align: center">Steel
products for pressure purposes - quality requirement - Part II: Wrought
seamless tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
2604/3-75</td>

            <td class="maintext" style="text-align: center">Steel
products for pressure purposes - quality requirements &ndash; -Part
III: Electric resistance and induction - Welded tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS 

G 3462</td>

            <td class="maintext" style="text-align: center">Alloy
steel boiler and heat exchanger tubes</td>

            <td class="maintext" style="text-align: center">ASTM
A199/

A199 M-92</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless cold-drawn intermediate alloy-steel heat-exchanger and
condenser tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A209/

A209 M-91</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless carbon-molybdenum alloy-steel boiler and superheater tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A213/

A213 M-92</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless ferritic and austenitic alloy-steel boiler, superheater,
and heat exchanger tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A250/

A250 M-91</td>

            <td class="maintext" style="text-align: center">Spec.
for electric-resistance-welded carbon-molybdenum alloy-steel boiler,
and superheater tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> ASTM
A423/

A423 M-91</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless and electric welded low alloy-steel tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
3059/2-90</td>

            <td class="maintext" style="text-align: center">Steel
boiler and superheater tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
3606-92</td>

            <td class="maintext" style="text-align: center">Steel
tubes for heat exchangers</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17175-79</td>

            <td class="maintext" style="text-align: center">Seamless
steel tubes for elevated temperatures; technical conditions of delivery</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17177-79</td>

            <td class="maintext" style="text-align: center">Electrically
resistance of induction welded steel tubes for elevated temperature;
technical terms of delivery</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
2604/2-75</td>

            <td class="maintext" style="text-align: center">Steel
products for pressure purposes - quality requirement, Part II: Wrought
seamless tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
2604/3-75</td>

            <td class="maintext" style="text-align: center">Steel
products for pressure purposes - quality requirement, Part III:
Electric resistance and induction - Welded tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS 

G 3463</td>

            <td class="maintext" style="text-align: center">Stainless
steel boiler and heat exchanger tubes</td>

            <td class="maintext" style="text-align: center">ASTM
A213/

A213 M-92</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless ferritic and austenitic alloy-steel boiler, superheater,
and heat exchanger tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A249/

A249 M-92</td>

            <td class="maintext" style="text-align: center">Spec.
for welded austenitic steel boiler, superheater, heat-exchanger, and
condenser tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A268/

A268 M-91</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless and welded ferritic stainless steel tubing for general
service </td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> ASTM
A269-92</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless and welded austenitic stainless tubing for general service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A789/

A789 M-90</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless and welded ferritic austenitic stainless steel tubing for
general service </td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
3059/2-90</td>

            <td class="maintext" style="text-align: center">Steel
boiler and superheater tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> BS
3606-92</td>

            <td class="maintext" style="text-align: center">Steel
tubes for heat exchangers</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17455-85</td>

            <td class="maintext" style="text-align: center">Welded
circular tubes of stainless steels for general requirements</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> DIN
17456-85</td>

            <td class="maintext" style="text-align: center">Seamless
circular tubes of stainless steels for general requirements</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17457-85</td>

            <td class="maintext" style="text-align: center">Welded
circular tubes of austenitic stainless steels for special requirements</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17458-85</td>

            <td class="maintext" style="text-align: center">Seamless
circular tubes of austenitic stainless steels for special requirements</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
2604/2-75</td>

            <td class="maintext" style="text-align: center">Steel
DINs for pressure purpose - quality requirements - Part II: Wrought
seamless tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
2604/3-75</td>

            <td class="maintext" style="text-align: center">Steel
products for pressure purpose - Quality requirements - Part III:
Electric resistance and induction - Welded tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> ISO
2604/5-78</td>

            <td class="maintext" style="text-align: center">Steel
products for pressure purposes - Quality requirements Part V:
Longitudinally welded austenitic stainless steel tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS 

G 3464</td>

            <td class="maintext" style="text-align: center">Steel
heat exchanger tubes for low temperature service</td>

            <td class="maintext" style="text-align: center">ASTM
A334/

A334 M-91</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless and welded carbon and alloy-steel tubes for
low-temperature service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
3603-91</td>

            <td class="maintext" style="text-align: center">Steel
pipes and tubes for pressure purposes. Carbon and alloy-steel: low
temperature duties</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17174-85</td>

            <td class="maintext" style="text-align: center">Welded
steel tubes for low temperature</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17173-85</td>

            <td class="maintext" style="text-align: center">Seamless
steels tubes for low temperatures</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> ISO
2604/2-75</td>

            <td class="maintext" style="text-align: center">Steel
products for pressure purposes - Quality requirements - Part II:
Wrought seamless tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> ISO
2604/3-75</td>

            <td class="maintext" style="text-align: center">Steel
products for pressure purposes - Quality requirements - Part III:
Electric resistance and induction - Welded tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS 

G 3467</td>

            <td class="maintext" style="text-align: center">Steel
tubes for fired heater</td>

            <td class="maintext" style="text-align: center">ASTM
A161-91</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless low-carbon and carbon-molybdenum steel still tubes for
refinery service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> ASTM
A200-91</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless intermediate alloy-steel still tubes for refinery service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A271-91</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless austenitic chromium-nickel steel still tubes for refinery
service</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS
G3444</td>

            <td class="maintext" style="text-align: center">Carbon
steel tubes for general structural purposes</td>

            <td class="maintext" style="text-align: center">ASTM
A500-90a</td>

            <td class="maintext" style="text-align: center">Spec.
for cold-formed welded and seamless carbon steel structural tubing in
rounds and shapes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A501-89</td>

            <td class="maintext" style="text-align: center">Spec.
for hot-formed welded and seamless carbon steel structural tubing</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
1139(1.1)-90</td>

            <td class="maintext" style="text-align: center">Spec.
for steel tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> DIN
17120-84</td>

            <td class="maintext" style="text-align: center">Welded
circular steel tubes for structural steel-work</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17121-84</td>

            <td class="maintext" style="text-align: center">Seamless
circular steel tubes for structural steel-work</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17123-86</td>

            <td class="maintext" style="text-align: center">Welded
circular tubes of fine grain steels for engineering purposes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17124-86</td>

            <td class="maintext" style="text-align: center">Seamless
circular tubes of fine grain steel for engineering purposes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS 

G 3445</td>

            <td class="maintext" style="text-align: center">Carbon
steel tubes for machine structural purposes</td>

            <td class="maintext" style="text-align: center">ASTM
A512-91</td>

            <td class="maintext" style="text-align: center">Spec.
for cold-drawn butt-weld carbon steel mechanical tubing</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS 

G 3472</td>

            <td class="maintext" style="text-align: center">Electric
resistance welded carbon steel tubes for automobile structural purposes</td>

            <td class="maintext" style="text-align: center">ASTM
A513-91a</td>

            <td class="maintext" style="text-align: center">Spec.
for electric-resistance-welded carbon and alloy-steel mechanical tubing</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A519-90</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless carbon and alloy-steel mechanical tubing</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS 

G 3473</td>

            <td class="maintext" style="text-align: center">Carbon
steel tubes for cylinder barrels</td>

            <td class="maintext" style="text-align: center">BS
1717-89</td>

            <td class="maintext" style="text-align: center">Spec.
for steel tubes for cycle and motorcycle purposes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS 

G 3441</td>

            <td class="maintext" style="text-align: center">Alloy-steel
tubes for structural purposes </td>

            <td class="maintext" style="text-align: center">ASTM
A519-90</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless carbon and alloy-steel mechanical tubing</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
1717-83</td>

            <td class="maintext" style="text-align: center">Spec.
for steel tubes for cycle and motorcycle purposes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS 

G 3446</td>

            <td class="maintext" style="text-align: center">Stainless
steel tubes for structural purposes</td>

            <td class="maintext" style="text-align: center">ASTM
A511-90</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless stainless steel mechanical tubing</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS 

G 3466</td>

            <td class="maintext" style="text-align: center">Carbon
Steel square pipes for general structural purposes</td>

            <td class="maintext" style="text-align: center">ASTM
A500-90a</td>

            <td class="maintext" style="text-align: center">Spec.
for cold-formed welded and seamless carbon steel structural tubing in
rounds and shapes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS 

G 3447</td>

            <td class="maintext" style="text-align: center">Stainless
steel sanitary tubing</td>

            <td class="maintext" style="text-align: center">ASTM
A270-90</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless and welded austenitic stainless steel sanitary tubing</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS 

G 4903</td>

            <td class="maintext" style="text-align: center">Seamless
nickel-chromium-iron alloy pipes</td>

            <td class="maintext" style="text-align: center">ASTM
B167-93</td>

            <td class="maintext" style="text-align: center">Spec.
for nickel-chromium-iron alloy (UNS No. 6600) seamless pipe and tube </td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> ASTM
B 407-93</td>

            <td class="maintext" style="text-align: center">Spec.
for nickel-iron-chromium alloy seamless pipe and tube</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
B 423-90</td>

            <td class="maintext" style="text-align: center">Spec.
for nickel-iron chromium-molybdenum-copper alloy (UNS No. 8825)
seamless pipe and tube</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS 

G 4904</td>

            <td class="maintext" style="text-align: center">Seamless
nickel-chromium-iron alloy heat exchanger tubes</td>

            <td class="maintext" style="text-align: center">ASTM
B 163-93</td>

            <td class="maintext" style="text-align: center">Spec.
for seamless nickel and nickel alloy condenser and heat-exchangers tubes</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
B167-93</td>

            <td class="maintext" style="text-align: center">Spec.
for nickel-chromium-iron alloy (UNS No. 6600) seamless pipe and tube</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
B407-93</td>

            <td class="maintext" style="text-align: center">Spec.
for nickel-iron-chromium alloy seamless pipe and tube</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
B423-90</td>

            <td class="maintext" style="text-align: center">Spec.
for nickel-iron-chromium-molybdenum-copper alloy (UNS No. 8825)
seamless pipe and tube</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS
A5525</td>

            <td class="maintext" style="text-align: center">Steel
pipe piles</td>

            <td class="maintext" style="text-align: center">ASTM
A252-90</td>

            <td class="maintext" style="text-align: center">Spec.
for welded and seamless steel pipe piles</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center">JIS
C8305</td>

            <td class="maintext" style="text-align: center">Rigid
steel conduit</td>

            <td class="maintext" style="text-align: center">BS
31-40(88)</td>

            <td class="maintext" style="text-align: center">Steel
conduit and fitting for electrical wiring</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ANSI
C80.1-90</td>

            <td class="maintext" style="text-align: center">Zinc
coated rigid steel conduit</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ANSI
C80.3-83</td>

            <td class="maintext" style="text-align: center">Enameled
rigid steel conduit</td>

          </tr>

          <tr>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">UL*6-81</td>

            <td class="maintext" style="text-align: center">Rigid
metallic conduit</td>

          </tr>

        </tbody>
      </table>
                   <br> </center>
    </ion-content>
</ion-view>