<ion-view view-title="World Of Steel">
	<ion-header-bar class="bar-subheader">
            <h4><center>Thickness Conversion Chart</center></h4>
  	</ion-header-bar>
    <ion-content has-header="true" overflow-scrolling="true" padding="false" direction="xy" delegate-handle="mainScroll">
                <br><br>
                <center>
                    <br>
                    <table cellspacing="1" cellpadding="1" border="0" style="background-color: rgb(153, 153, 153); width: 700px;">

        <tbody>

          <tr class="featured">

            <td valign="undefined" align="undefined">Base
Weight<br>

(lbs)</td>

            <td valign="undefined" align="undefined">Thickness<br>

(inches)</td>

            <td valign="undefined" align="undefined">Thickness<br>

(MM)</td>

            <td valign="undefined" align="undefined">U.S.
Guage<br>

(Approx.)</td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 50 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0055 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.140 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 54 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0059 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.150 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 38 </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 55 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0061 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.155 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 57 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0063 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.160 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 59 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0065 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.165 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 37 </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 61 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0067 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.170 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 36 </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 63 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0069 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.175 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 65 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0072 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.180 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 66 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0073 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.185 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 68 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0075 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.190 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 35 </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 70 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0077 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.195 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 72 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0079 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.200 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 74 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0081 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.205 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 75 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0083 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.210 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 34 </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 77 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0085 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.215 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 79 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0087 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.220 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 81 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0089 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.225 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 83 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0091 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.230 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 33 </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 85 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0094 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.235 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 86 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0095 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.240 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 87 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0096 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.245 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 32 </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 89 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0098 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.250 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 91 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0100 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.255 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 93 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0102 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.260 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 95 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0105 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.265 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 31 </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 96 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0106 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.270 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 98 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0108 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.275 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 100 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0110 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.280 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 102 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0112 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.285 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 104 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0114 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.290 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 105 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0116 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.295 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 107 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0118 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.300 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 109 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0120 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.305 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 30 </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 111 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0122 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.310 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 113 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0124 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.315 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 115 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0126 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.320 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 116 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0128 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.325 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 118 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0130 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.330 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 120 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0132 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.335 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 122 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0134 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.340 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 124 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0136 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.345 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 29 </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 125 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0138 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.350 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 127 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0140 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.355 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 129 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0142 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.360 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 131 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0144 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.365 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 133 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0146 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.370 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 135 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0149 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.375 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 28 </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 136 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0150 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.380 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 139 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0154 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.390 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 141 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0157 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.400 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 145 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0161 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.410 </center>

            </td>

            <td width="26%" class="maintext">
            <center> </center>

            </td>

          </tr>

          <tr>

            <td width="20%" class="maintext">
            <center> 148 </center>

            </td>

            <td width="28%" class="maintext">
            <center> 0.0163 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 0.415 </center>

            </td>

            <td width="26%" class="maintext">
            <center> 27 </center>

            </td>

          </tr>

        </tbody>
      </table>
                    <br></center>
    </ion-content>
</ion-view>