<ion-view view-title="World Of Steel">
	<ion-header-bar class="bar-subheader">
            <h4><center>What is Wire Rod?</center></h4>
  	</ion-header-bar>
    <ion-content has-header="true" overflow-scrolling="true" padding="false" direction="xy" delegate-handle="mainScroll">
                <br><br>
                   <span style="font:15px arial">
&nbsp;&nbsp;&nbsp;Hot rolled from low, medium and high carbon or alloy steel, billet, wire rod is delivered as coil, most commonly at 5.5mm diameter, but in sizes upto 60mm diameter close control of final cooling is a criticial part of &nbsp;&nbsp;&nbsp;production.<br><br>
&nbsp;&nbsp;&nbsp;Low carbon rod is used for undemanding applications like fencing wire and concrete reinforcing mesh, while medium and high carbon rod goes into higher performance uses like steel cord for car tyre &nbsp;&nbsp;&nbsp;reinforcement.<br><br>
&nbsp;&nbsp;&nbsp;Some rod (cold heading carbon and alloy grades) is used to make fastners (bolts, screws, nails, rivets), and alloy rod is commonly machined into products like engineering bearings. Some rod provides filler &nbsp;&nbsp;&nbsp;metal in welding operations. 
</span>
    </ion-content>
</ion-view>