<ion-view view-title="World Of Steel">
	<ion-header-bar class="bar-subheader">
            <h4><center>Wire and Wire Product Grades</center></h4>
  	</ion-header-bar>
    <ion-content has-header="true" overflow-scrolling="true" padding="false" direction="xy" delegate-handle="mainScroll">
        <br>
                <center>
                    <br>
                         <table style="background-color: rgb(153, 153, 153);" width="1000"  border="0" cellpadding="1" cellspacing="1">
        <tbody style="background-color: rgb(255, 255, 255);">
        <tr>
          <td class="featured" style="text-align: center">Standard No.</td>

            <td class="featured" style="text-align: center">Definition</td>

            <td class="featured" style="text-align: center">Standard No.</td>

            <td class="featured" style="text-align: center">Definition</td>

        </tr>

          <tr>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center">JIS G 3521</td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center">Hard drawn steel wire</td>

            <td class="maintext" style="text-align: center">ASTM
A227/<br />

A227 M-91</td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center">Spec. for
hard-drawn steel spring wire</td>

        </tr>

          <tr >

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A407-90</td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center">Spec. for
hard-drawn steel wire for coiled-type springs</td>

        </tr>

          <tr >

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A417-90</td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center">Spec. for
hard-drawn steel wire for zig-zag, square-formed and sinuous-type
upholstery spring units</td>

        </tr>

          <tr>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A510-91</td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center">Spec. for
general requirements for wire rods and coarse round wire, carbon steel</td>

        </tr>

          <tr >

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A510 M-91</td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center">Spec. for
general requirements for wire rods and coarse round wire, carbon steel
(Metric)</td>

        </tr>

          <tr >

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">
            <div >ASTM A679/<br />

            </div>

            <div > A679 M-91</div>

            </td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center">Spec. for high
tensile strength, hard-drawn steel wire for mechanical springs</td>

        </tr>

          <tr >

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
2453-73</td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center">Steel wire for
spokes</td>

        </tr>

          <tr >

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
2763-82</td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center">Round steel
wire for ropes</td>

        </tr>

          <tr >

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
4637-70</td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center">Carbon steel
wire for coiled springs (bedding and soating)</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
4638-70</td>

            <td class="maintext" style="text-align: center">Carbon
steel wire for zig-zag and square-form springs</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
5216-91</td>

            <td class="maintext" style="text-align: center">Patented
cold drawn carbon steel wire for mechanical springs</td>

        </tr>

          <tr >

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> DIN
177-88</td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center">Round steel
wire, cold drawn; dimensions, tolerances, weights</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
2076-84</td>

            <td class="maintext" style="text-align: center">Round
spring wire</td>

        </tr>

          <tr >

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center">DIN 2078-90</td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center">Steel wires for
wire ropes</td>

        </tr>

          <tr>

          </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> DIN
17223/1-84</td>

            <td class="maintext" style="text-align: center">Round
spring steel wire, quality specifications, patented drawn spring wire
made of unalloyed steels</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
2232-90</td>

            <td class="maintext" style="text-align: center">Spec.
for drawn wire for general purpose non-alloy steel wire ropes</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
6984-90</td>

            <td class="maintext" style="text-align: center">Unalloyed
steel wires for stranded wire ropes for mine-hoisting</td>

        </tr>

          <tr >

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center">JIS G 3522</td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center">Piano wire</td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center">ASTM A228/<br />

A228 M-91</td>

            <td class="maintext" style="text-align: center">Spec.
for music spring quality steel wire</td>

        </tr>

          <tr >

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center">BS 5216-91</td>

            <td class="maintext" style="text-align: center">Spec.
for patented cold drawn carbon steel wire for mechanical springs</td>

        </tr>

          <tr >

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center">DIN 2076-84</td>

            <td class="maintext" style="text-align: center">Spring
steel wire, round; patended and drawn spring-hard</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17223/1-84</td>

            <td class="maintext" style="text-align: center">Round
steel wire for springs, patented cold drawn, carbon steel wire for
springs</td>

        </tr>

          <tr >

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center">JIS G 3525</td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center">Wire ropes</td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center">ASTM A603-88</td>

            <td class="maintext" style="text-align: center">Spec.
for zinc-coated steel structural wire rope</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
302-87</td>

            <td class="maintext" style="text-align: center">Wire
ropes for cranes, excavators and general engineering purposes</td>

        </tr>

          <tr >

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
2078-90</td>

            <td colspan="1" rowspan="1" class="maintext" style="text-align: center">Steel wires for
wire ropes</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
2232-90</td>

            <td class="maintext" style="text-align: center">Spec.
for drawn wire for general purpose non-alloy steel wire ropes</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
2408-85</td>

            <td class="maintext" style="text-align: center">Steel
wire ropes for general purposes - Characteristics</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> ISO
3108-74</td>

            <td class="maintext" style="text-align: center">Steel
wire ropes for general purposes - determination of actual breaking load</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> ISO
3178-88</td>

            <td class="maintext" style="text-align: center">Steel
wire ropes for general purposes - terms of acceptance</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
4101-83</td>

            <td class="maintext" style="text-align: center">Drawn
steel wire for elevator ropes</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
4344-83</td>

            <td class="maintext" style="text-align: center">Steel
wire ropes for lifts</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
8369-86</td>

            <td class="maintext" style="text-align: center">Large
diameter steel wire ropes</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
6984-90</td>

            <td class="maintext" style="text-align: center">Unalloyed
steel wires for stranded wire ropes for mine hoisting</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center">JIS
G 3532</td>

            <td class="maintext" style="text-align: center">Iron
wires</td>

            <td class="maintext" style="text-align: center">ASTM
A82-90</td>

            <td class="maintext" style="text-align: center">Spec.
for cold-drawn steel wire for concrete reinforcement</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> ASTM
A510-91</td>

            <td class="maintext" style="text-align: center">Spec.
for general requirements for wire rods and coarse round wire, carbon
steel</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A510 M-91</td>

            <td class="maintext" style="text-align: center">Spec.
for general requirements for wire rods and coarse round wire, carbon
steel (Metric)</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A641-92</td>

            <td class="maintext" style="text-align: center">Spec.
for zinc-coated (galvanized) carbon steel wire</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A641M-91</td>

            <td class="maintext" style="text-align: center">Spec.
for zinc-coated (galvanized) carbon steel wire (Metric)</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> ASTM
A817-92</td>

            <td class="maintext" style="text-align: center">Spec.
for metallic-coated steel wire for chain link fence fabric</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A824-92</td>

            <td class="maintext" style="text-align: center">Spec.
for metallic-coated steel marcelled tension wire for use with chain
link fence</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> BS
443-82</td>

            <td class="maintext" style="text-align: center">Spec.
for testing zinc coating on steel wire and for quality requirements</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
1052-80</td>

            <td class="maintext" style="text-align: center">Mild
steel wire for general engineering purposes</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
4102-90</td>

            <td class="maintext" style="text-align: center">Steel
wire for fences</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
4482-85</td>

            <td class="maintext" style="text-align: center">Hard
drawn mild wire for the reinforcement of concrete</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
177-88</td>

            <td class="maintext" style="text-align: center">Round
steel wire, cold drawn; dimensions, tolerances, weights</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
1548-79</td>

            <td class="maintext" style="text-align: center">Zinc
coating on round steel wires</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center">JIS
G 3533</td>

            <td class="maintext" style="text-align: center">Barded
wires</td>

            <td class="maintext" style="text-align: center">ASTM
A121-92</td>

            <td class="maintext" style="text-align: center">Spec.
for zinc-coated (galvanized) steel barbed wire</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
4102-90</td>

            <td class="maintext" style="text-align: center">Steel
wire for fences</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center">JIS
G 3534</td>

            <td class="maintext" style="text-align: center">Galvanized
low carbon steel wire strand</td>

            <td class="maintext" style="text-align: center">ASTM
A475-89</td>

            <td class="maintext" style="text-align: center">Spec.
for zinc-coated steel wire</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
183-72</td>

            <td class="maintext" style="text-align: center">General
purpose galvanized steel wire strand</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center">IS
G3536</td>

            <td class="maintext" style="text-align: center">Uncoated
stress-relieved steel wire and strand for prestressed concrete</td>

            <td class="maintext" style="text-align: center">ASTM
A416-90</td>

            <td class="maintext" style="text-align: center">Spec.
for uncoated seven-wire stress-relieved strand for prestressed concrete</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A421-91</td>

            <td class="maintext" style="text-align: center">Spec.
for uncoated stress-relieved wire for prestressed concrete</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A779-90</td>

            <td class="maintext" style="text-align: center">Spec.
for steel strand, seven wire, uncoated, compacted, stress-relieved for
prestressed concrete</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
5896-80</td>

            <td class="maintext" style="text-align: center">Specification
for high tensile steel wire strand for the prestressing of concrete</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
4227/1-88</td>

            <td class="maintext" style="text-align: center">Prestressed
concrete; structural members made of normal-weight concrete, with
limited concrete tensile stresses or with concrete tensile stresses</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center">JIS
G 3537</td>

            <td class="maintext" style="text-align: center">Galvanized
steel wire strands</td>

            <td class="maintext" style="text-align: center">ASTM
A363-89</td>

            <td class="maintext" style="text-align: center">Spec.
for zinc-coated overhead ground wire strand</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A475-89</td>

            <td class="maintext" style="text-align: center">Spec.
for zinc-coated steel wire strand</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A586-92</td>

            <td class="maintext" style="text-align: center">Spec.
for zinc-coated parallel and helical steel wire structural strand</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
183-72</td>

            <td class="maintext" style="text-align: center">General
purpose galvanized steel wire strand</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center">JIS
G 3538</td>

            <td class="maintext" style="text-align: center">Hard
drawn steel wire for prestressed concrete</td>

            <td class="maintext" style="text-align: center">ASTM
A648-90</td>

            <td class="maintext" style="text-align: center">Spec.
for steel wire, hard drawn for prestressing concrete pipe</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A821-90</td>

            <td class="maintext" style="text-align: center">Spec.
for steel wire, hard drawn for prestressing concrete tanks by redrawing</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
5896-80</td>

            <td class="maintext" style="text-align: center">Spec.
for high tensile steel wire strand for the prestressing of concrete</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center">JIS
G 3539</td>

            <td class="maintext" style="text-align: center">Carbon
steel wires for cold heading and cold forging</td>

            <td class="maintext" style="text-align: center">BS
3111/1-87</td>

            <td class="maintext" style="text-align: center">Steel
wire for cold forged high tension bolts and similar components</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
1654/1-89</td>

            <td class="maintext" style="text-align: center">Steel
for cold heading and cold extruding, general</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
1654/2-89</td>

            <td class="maintext" style="text-align: center">Steel
for cold heading and cold extruding, killed unalloyed steels not
intended for heat treatment</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
1654/3-89</td>

            <td class="maintext" style="text-align: center">Steel
for cold heading and cold extruding , case hardening steels</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> DIN
1654/4-89</td>

            <td class="maintext" style="text-align: center">Steel
for cold heading and cold extruding, steels for quenching and tempering</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ISO
4954-93</td>

            <td class="maintext" style="text-align: center">Steels
for cold heading and cold extruding</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center">JIS
G 3541</td>

            <td class="maintext" style="text-align: center">Galvanized
low carbon steel wire for armouring cables</td>

            <td class="maintext" style="text-align: center">ASTM
A 411-86</td>

            <td class="maintext" style="text-align: center">Spec.
for zinc-coated (galvanized) low-carbon steel armor wire</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
1441-69</td>

            <td class="maintext" style="text-align: center">Galvanized
steel wire for armouring submarine cables</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
1442-69</td>

            <td class="maintext" style="text-align: center">Galvanized
mild steel wire for armouring cables</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center">JIS
G 3543</td>

            <td class="maintext" style="text-align: center">Polyvinyl
chloride coated color steel wires</td>

            <td class="maintext" style="text-align: center">ASTM
F 668-91</td>

            <td class="maintext" style="text-align: center">Spec.
for PVC-coated steel chain-link fence fabric</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
4102-90</td>

            <td class="maintext" style="text-align: center">Steel
wire for fences</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
3036-78</td>

            <td class="maintext" style="text-align: center">Plastic
coated steel wiress</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center">JIS
G 3544</td>

            <td class="maintext" style="text-align: center">Hot
dip aluminum coated steel wire</td>

            <td class="maintext" style="text-align: center">ASTM
A 474-86</td>

            <td class="maintext" style="text-align: center">Spec.
for aluminum-coated steel wire strand</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A 491-92</td>

            <td class="maintext" style="text-align: center">Spec.
for aluminum-coated steel chain-link fence fabric</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A584-92</td>

            <td class="maintext" style="text-align: center">Spec.
for aluminum-coated steel woven wire fence fabric</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A585-92</td>

            <td class="maintext" style="text-align: center">Spec.
for aluminum-coated steel barbed wire</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A809-91</td>

            <td class="maintext" style="text-align: center">Spec.
for aluminized carbon steel wire</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A817-92</td>

            <td class="maintext" style="text-align: center">Spec.
for metallic-coated steel wire for chain-link fence</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> ASTM
A824-92</td>

            <td class="maintext" style="text-align: center">Spec.
for metallic-coated steel marcelled tension wire for use with
chain-link fence</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> ASTM
B341-88</td>

            <td class="maintext" style="text-align: center">Spec.
for aluminized steel core wire for aluminum conductors (ACSR/AZ)</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
B341M-88</td>

            <td class="maintext" style="text-align: center">Spec.
for aluminum-coated (aluminized) steel core wire for aluminum
conductors, steel reinforced (ACSR/AZ) metric</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
F 668-91</td>

            <td class="maintext" style="text-align: center">Spec.
for PVC-coated steel chain-link fence fabric</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center">JIS
G 3551</td>

            <td class="maintext" style="text-align: center">Welded
wire mesh</td>

            <td class="maintext" style="text-align: center">ASTM
A185-90</td>

            <td class="maintext" style="text-align: center">Spec.
for welded steel wire fabric for concrete reinforcement</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
4483-85</td>

            <td class="maintext" style="text-align: center">Steel
fabric for the reinforcement of concrete</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center">JIS
G 3552</td>

            <td class="maintext" style="text-align: center">Chain
link wire netting</td>

            <td class="maintext" style="text-align: center">ASTM
A392-91</td>

            <td class="maintext" style="text-align: center">Spec.
for zinc-coated steel chain-link fence fabric</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
F 573-89</td>

            <td class="maintext" style="text-align: center">Spec.
for residential zinc-coated steel chain-link fence fabric</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
F668-91</td>

            <td class="maintext" style="text-align: center">Spec.
for PVC-coated steel chain-link fence fabric</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center">JIS
G 3554</td>

            <td class="maintext" style="text-align: center">Hexagonal
wire netting</td>

            <td class="maintext" style="text-align: center">BS
1485-83</td>

            <td class="maintext" style="text-align: center">Spec.
for zinc-coated hexagonal steel wire netting</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center">JIS
G 3560</td>

            <td class="maintext" style="text-align: center">Oil
tempered carbon steel spring wire</td>

            <td class="maintext" style="text-align: center">ASTM
A229/<br />

A229 M-91</td>

            <td class="maintext" style="text-align: center">Spec.
for oil-tempered steel wire for mechanical springs</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> BS
2803-80</td>

            <td class="maintext" style="text-align: center">Oil
hardened and tempered steel wire for springs for general engineering
purposes</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17223/2-90</td>

            <td class="maintext" style="text-align: center">Round
spring wire, quality specification; quenched and tempered spring wire
and quenched and tempered valve spring wire made of unalloyed steels</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center">JIS
G 3561</td>

            <td class="maintext" style="text-align: center">Oil
tempered carbon steel valve spring quality wire</td>

            <td class="maintext" style="text-align: center">ASTM
A230/<br />

A230 M-91</td>

            <td class="maintext" style="text-align: center">Spec.
for oil-tempered carbon valve spring quality steel wire</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"> BS
2803-80</td>

            <td class="maintext" style="text-align: center">Oil
hardened and tempered steel wire for springs general engineering
purposes</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">DIN
17223/2-90</td>

            <td class="maintext" style="text-align: center">Round
spring wire, quality specifications; quenched and tempered spring wire
and quenched and tempered valve spring wire made of unalloyed steels</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center">JIS
G 3565</td>

            <td class="maintext" style="text-align: center">Oil
tempered chromium vanadium alloy steel valve spring quality wire</td>

            <td class="maintext" style="text-align: center">ASTM
A231/<br />

A231 M-91</td>

            <td class="maintext" style="text-align: center">Spec.
for chromium-vanadium alloy steel spring wire</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">ASTM
A232/<br />

A232 M-91</td>

            <td class="maintext" style="text-align: center">Spec.
for chromium-vanadium steel valve spring quality wire</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
2803-80</td>

            <td class="maintext" style="text-align: center">Oil
hardened and tempered steel wire for spring for general engineering
purposes</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center">JIS
G 3566</td>

            <td class="maintext" style="text-align: center">Oil
tempered chromium silicon alloy steel valve spring quality wire</td>

            <td class="maintext" style="text-align: center">ASTM
A401/<br />

A401 M-91</td>

            <td class="maintext" style="text-align: center">Spec.
for chromium-silicon alloy steel spring wire</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center"></td>

            <td class="maintext" style="text-align: center">BS
2803-80</td>

            <td class="maintext" style="text-align: center">Oil
hardened and tempered steel wire for spring for general engineering
purposes</td>

        </tr>

          <tr >

            <td class="maintext" style="text-align: center">JIS
G 3567</td>

            <td class="maintext" style="text-align: center">Oil
tempered silicon manganese alloy steel spring wires</td>

            <td class="maintext" style="text-align: center">ASTM
A229/<br />

A229 M-91</td>

            <td class="maintext" style="text-align: center">Spec.
for steel wire, oil tempered for mechanical springs</td>
        </tr>
	 </tbody>
      </table>

                   <br> </center>
    </ion-content>
</ion-view>